<a href="https://colab.research.google.com/github/susandarlin/MMDT_T-PY101_2025_Batch02/blob/main/susandarlin/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = s.lower().count("python")
print(count, 'times')

2 times

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
newlist = ls1 + ls2
print(len(newlist))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
dic = {"Name": ["Myo", "Thida"], "Age": [32,64]}
print(dic)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
set3 = set1.union(set2)
print(set3, ", Its count is ", len(set3))

{'Education', 'Name', 'Height', 'status', 'age'} , Its count is  5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
input_string = input("Enter a string")
new_string = input_string.replace(input_string[1], "*") + "!!!"
print(new_string)

Enter a stringtest
t*st!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string = s.lower().replace(",", "").replace(";", "").replace(".", "").replace(":", "").replace("-", "")
print(new_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
L3 = set(L1).difference(set(L2))
print(L3)

{70}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [9]:
 ls1 = ["apple", "banana", "cherry"]
 new_list = ls1.copy()
 new_list.append("blueberry")
 print("ls1 ", ls1)
 print(("new list"), new_list)

ls1  ['apple', 'banana', 'cherry']
new list ['apple', 'banana', 'cherry', 'blueberry']