In [1]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]'

In [2]:
my_tuple = ('apple', 'banana', 'cherry', 'date')
my_tuple.index('cherry')

2

In [3]:
my_list = ['apple', 'banana', 'cherry', 'date']
index = my_list.index('date')
index

3

In [4]:
list_1 = ['Mom', 'Dad', ['Pont','Kid','Happiness']]
list_2 = ['Home', 'Missing', 'River', 'Mangos', 'Rain']
list_1.index('Dad')

1

In [5]:
my_tuple[0]

'apple'

In [6]:
list_1[2][2]

'Happiness'

In [7]:
#list_1.extend(list_2)

In [8]:
print (list_1)

['Mom', 'Dad', ['Pont', 'Kid', 'Happiness']]

In [9]:
list_2.extend(list_1)

In [10]:
list_2

['Home',
 'Missing',
 'River',
 'Mangos',
 'Rain',
 'Mom',
 'Dad',
 ['Pont', 'Kid', 'Happiness']]

In [11]:
echo = {"CMT":"PM", "T3":"PC", "KHS": "M and E", "HNZ": "PO"}
echo.keys()
echo.values()

dict_values(['PM', 'PC', 'M and E', 'PO'])

In [12]:
"CMT" in echo
'T3' in echo

True

In [13]:
"PM" in echo.values()

True

In [14]:
echo["KMS"] = "PO"

In [15]:
echo

{'CMT': 'PM', 'T3': 'PC', 'KHS': 'M and E', 'HNZ': 'PO', 'KMS': 'PO'}

In [16]:
del[echo["CMT"]]

In [17]:
echo

{'T3': 'PC', 'KHS': 'M and E', 'HNZ': 'PO', 'KMS': 'PO'}

In [18]:
fav_food = {"Avocado", "Lotus Root", "Ice Cream", "Mookratha"}
fav_drink = {"Orange", "Coconut", "Apple", "Ice Cream"}
fav_food.add(5)

In [19]:
fav_food

{5, 'Avocado', 'Ice Cream', 'Lotus Root', 'Mookratha'}

In [20]:
#fav_food.remove("Avocado")

In [21]:
"Ice Cream" in fav_food

True

In [22]:
com_item = fav_food.intersection(fav_drink)
print (com_item)

{'Ice Cream'}

In [23]:
fav_food.union(fav_drink)

{5,
 'Apple',
 'Avocado',
 'Coconut',
 'Ice Cream',
 'Lotus Root',
 'Mookratha',
 'Orange'}

In [24]:
fav_food.difference (fav_drink)

{5, 'Avocado', 'Lotus Root', 'Mookratha'}

In [25]:
fav_drink.difference(fav_food)

{'Apple', 'Coconut', 'Orange'}

In [26]:
fav_food.issubset(fav_drink)

False

In [27]:
set_1 = {1,2,3}
set_2 = {1,2,3,4,5}
set_1.issubset(set_2)
#set_1.add(6)
#set_1

True

In [28]:
""" #conditional statement in python
mark = int (input ("Enter your mark: "))
if (mark > 70):
    print ("you pass")
print("keep learning") """

' #conditional statement in python\nmark = int (input ("Enter your mark: "))\nif (mark > 70):\n    print ("you pass")\nprint("keep learning") '

In [29]:
""" mark = int (input ("Enter your mark: "))
if (mark > 70):
    print ("you pass")
    print("keep learning") """

' mark = int (input ("Enter your mark: "))\nif (mark > 70):\n    print ("you pass")\n    print("keep learning") '

In [30]:
mark = int (input ("Enter your mark: "))
if (mark > 50):
    print ("you pass the exam")
if (mark <= 50):
    print ("you fail the exam")

you fail the exam

In [31]:
mark = int (input ("Enter your mark: "))
if (mark > 50):
    print ("you pass the exam")
else:
    print ("you fail the exam")

you fail the exam

In [32]:
mark = int (input ("Enter your mark: "))
if (mark > 80):
    print ("you get A")
elif (mark > 50):
    print ("you pass the exam")
else:
    print ("you fail the exam")

you fail the exam

In [33]:
mark = int (input ("Enter your mark: "))

if (mark > 100 or mark < 0):
    print ("the score is invalid")
elif (mark > 80):
    print ("you get A")
elif (mark > 50):
    print ("you pass the exam")
else:
    print ("you fail the exam")

you fail the exam

In [34]:
mark = int (input ("Enter your mark: "))

if (mark > 100 or mark < 0):
    print ("Invalid score")
elif (mark > 90):
    print ("you get excellent")
elif (mark > 80):
    print ("you get A")
elif (mark > 50):
    print ("you pass the exam")
else:
    print ("you fail the exam")

you fail the exam

In [35]:
mark = int (input ("Enter your mark: "))
if (mark <= 100 and mark >= 0):
    print ("You did a great job!")
else:
    print ("Nan! You score seems incorrect.")

You did a great job!

In [36]:
#altering string cases
name = "NAME".lower()
name.upper()

'NAME'

In [37]:
#testing mathematical operators\
a = 5
print (a==3)
a = 5
print (a==5)

False
True

In [38]:
print ("a = 5")

a = 5

In [39]:
a= 5
b= 5
print (a == b)
print (a!=5)

True
False

In [40]:
a = 100
print (a=>100)

SyntaxError: invalid syntax (3782207574.py, line 2)

In [ ]:
a= 5
b= 5
print (a<>b) # it does not equal with !=

In [ ]:
age = int (input ("Enter your age: "))
if (age > 15) and (age < 20 ):
    print ("Hey, kiddo!")
else:
    print ("Did you write your age wrong?")

Did you write your age wrong?

In [ ]:
age = int (input ("Enter your age: "))
if age > 15 and age < 20 :
    print ("Hey, kiddo!")
else:
    print ("Did you write your age wrong?")

In [ ]:
age = int (input ("Enter your age: "))
if (age > 15 and age < 20) :
    print ("Hey, kiddo!")
else:
    print ("Did you write your age wrong?")

Did you write your age wrong?

In [ ]:
a = "avocado"
b = "organge"
c = "avocado"
if (a!=b and a==c and b==c):
    print ("they are not the same")
else:
    print ("At least two of them are the same.")

At least two of them are the same.

In [ ]:
a = "avocado"
b = "organge"
c = "grape"
if (a==b and a==c and b==c):
    print ("they are not the same")
else:
    print ("At least two of them are the same.")

At least two of them are the same.

In [ ]:
#indentation
is_logged_in = True
is_admin = False
if is_logged_in:
    if is_admin:
        print ("Grant admin access")
        print ("Welcome user!")

In [ ]:
#status is True >> Print processing, Done, Script Finished
status = True
if status:
    print ("Processing...")
    print ("Done!")
    print ("Scrip Finished")

Processing...
Done!
Scrip Finished

In [ ]:
import math
# A calculation that should be 0.3 but has a tiny precision error
result = 0.1 + 0.3
if result == 0.4:
    print ("the result is 0.4")
else:
    print (f"The result is {result}, not exactly 0.4")

the result is 0.4

In [ ]:
city = "Berlin"
if city == "berlin":
    print ("we found the city.")
else:
    print ("The city was not found")

The city was not found

In [ ]:
city = "Berlin City"
if city[0:7] == "Berlin":
    print ("we found the city.")
else:
    print ("The city was not found")

The city was not found

In [ ]:
red_blood_count = 200
status = "Healthy" if red_blood_count >= 350 else "Unhealthy"
print (status)

Unhealthy

In [ ]:
age = 2
level = "teenager" if age>= 13 and age <= 19 else "kid" if age < 13 else "adult"
print (level)

kid

In [ ]:
mark = int (input ("Enter your mark: "))

if (mark > 100 or mark < 0):
    print ("Invalid score")
if (mark > 90 and mark <= 100):
    print ("you get excellent")
if (mark > 80 and mark <= 90):
    print ("you get A")
if (mark > 50 and mark <=80):
    print ("you pass the exam")
else:
    print ("you fail the exam")

you pass the exam

In [ ]:
## string can't be used with mathematical operator
x = int (input ("Enter 1 for Hello and 0 for Bye:"))
if x == 1:
    print ("Hello")
else:
    print ("Bye")

Hello

In [ ]:
10%4

2

In [ ]:
for n in range (1,200):
    if n%5 == 2 and n%6 == 3 and n%7 == 3:
        print ("Number of candies:", n)
        break

Number of candies: 87

In [ ]:
#Chapter 4 if statement extra exercises
from random import randint
com_pick = randint (1,10)
guess = int(input ("Enter the number: "))
if guess==com_pick:
    print ("You are correct!")
else:
    print (f"Nah! the number is {com_pick}")

You are correct!

In [ ]:
# we can also use if not condition to check if statement 
score = int (input ("Enter the score:"))
time = float (input ("Enter time"))
if not (score > 1000 or time > 20):
    print ("Game continues")

Game continues

A store charges $12 per item if you buy less than 10 items. If you buy between 10 and 99 items, the cost is $10 per item. If you buy 100 or more items, the cost is $7 per item. Write a program that asks the user how many items they are buying and prints the total cost.

In [ ]:
# items buying at a store program
num_items = int(input("Enter the number of items you want to buy:"))
if num_items < 10:
    total_cost_12 = num_items * 12
    print (f"The total cost is ${total_cost_12}")
elif num_items>=10 and num_items < 100:
     total_cost_10 = num_items * 10
     print (f"The total cost is ${total_cost_10}")
else:
     total_cost_7 = num_items * 7
     print (f"The total cost is ${total_cost_7}")

The total cost is $60

Write a program that asks the user for two numbers and prints Close if the numbers are within .001 of each other and Not close otherwise.

In [ ]:
first_num = float (input ("Enter your first number:"))
second_num = float (input ("Enter the second number:"))
if abs(first_num-second_num) <= 0.001:
    print ("They are close.")
else:
    print ("They are not close.")

They are close.

A year is a leap year if it is divisible by 4, except that years divisible by 100 are not leap years unless they are also divisible by 400. Write a program that asks the user for a year and prints out whether it is a leap year or not.

In [ ]:
year = int(input("Enter the year:"))
if year%4 == 0 and year%100 != 0:
    print ("It is a leap year")
elif year%4 == 0 and year%400 == 0:
    print ("It is leap year")
else:
    print ("It is not a leap year.")

It is a leap year

Write a program that asks the user to enter a number and prints out all the divisors of that number. [Hint: the % operator is used to tell if a number is divisible by something. See this_section.]

In [ ]:

num = int (input ("Enter the number: "))
divisors = []
for i in range (1, num+1):
    if num % i == 0:
        divisors.append (i)
print (divisors)

[1, 2]

In [ ]:
num = int(input("Enter the number: "))
divisors = []

for i in range(1, num + 1):
    if num % i == 0:
        divisors.append(i)

print(divisors)

[1, 2, 3, 4, 6, 12]

In [ ]:
import math
import random
for i in range (1,11):
    first_num = random.randint(1,10)
    second_num = random.randint(1,10)
    correct_ans = first_num * second_num
    print (f"Question no {i}: {first_num}*{second_num}")
    answer = int (input ("Enter the number:"))
    if answer == correct_ans:
        print ("You are correct!")
    else:
        print (f"Nah!!! The correct answer is {correct_ans}")

Question no 1: 5*8
You are correct!
Question no 2: 10*2
You are correct!
Question no 3: 6*9
Nah!!! The correct answer is 54
Question no 4: 2*7
You are correct!
Question no 5: 5*10
Nah!!! The correct answer is 50
Question no 6: 1*3
Nah!!! The correct answer is 3
Question no 7: 1*5
You are correct!
Question no 8: 5*6
You are correct!
Question no 9: 7*9
Nah!!! The correct answer is 63
Question no 10: 6*6
You are correct!

Write a program that asks the user for an hour between 1 and 12, asks them to enter am or pm, and asks them how many hours into the future they want to go. Print out what the hour will be that many hours into the future, printing am or pm as appropriate. An example is shown below.

In [ ]:
time = int(input ("Enter an hour between a and 12:"))
period = input("Enter am or pm:")
hour_future = int (input("How many hours you want to go to the furture:"))
if time + hour_future >= 12 and period == 'am':
    hour = ((time+hour_future) - 12) 
    print (f"The hour is {hour} pm")
elif time + hour_future >= 12 and period == 'pm':
    hour = ((time+hour_future) - 12) 
    print (f"The hour is {hour} am")
else:
    hour = time + hour_future
    print (f"The hour is {hour} {period}")

The hour is 1 am

A jar of Halloween candy contains an unknown amount of candy and if you can guess exactly how much candy is in the bowl, then you win all the candy. You ask the person in charge the following: If the candy is divided evenly among 5 people, how many pieces would be left over? The answer is 2 pieces. You then ask about dividing the candy evenly among 6 people, and the amount left over is 3 pieces. Finally, you ask about dividing the candy evenly among 7 people, and the amount left over is 2 pieces. By looking at the bowl, you can tell that there are less than 200 pieces. Write a program to determine how many pieces are in the bowl.

In [ ]:
for i in range (1, 200):
    if i%5==2 and i%6==3 and i%7==2:
        print (i)

177


Write a program that lets the user play Rock-Paper-Scissors against the computer. There should be five rounds, and after those five rounds, your program should print out who won and lost or that there is a tie.

In [ ]:
import random

user_pick = input ("Enter your choice from rock, paper or scissors: ")
print (f"User pick is {user_pick}")

choice = ["rock","paper","scissors"]
com_pick = random.choice (choice)
print(f"Computer pick is {com_pick}")

if com_pick == user_pick:
    print ("It is a tie!")
elif com_pick == "rock" and user_pick == "paper":
    print ("You win!")
elif com_pick == "rock" and user_pick == "scissors":
    print ("You lose!")
elif com_pick == "paper" and user_pick == "rock":
    print ("You lose!")
elif com_pick == "paper" and user_pick == "scissors":
    print("You win!")
elif com_pick == "scissors" and user_pick == "rock":
    print ("You Win!")
elif com_pick == "scissors" and user_pick == "paper":
    print ("You lose!")
else:
    print ("The entry is invalid")

User pick is paper
Computer pick is scissors
You lose!

Looping exercises:

In [ ]:
for k in range (1,10,2):
    print (k)

1
3
5
7
9

In [ ]:
marks = [25, 45, 59, 78, 99]
for mark in marks:
    print (f"You score is {mark}")

You score is 25
You score is 45
You score is 59
You score is 78
You score is 99

In [ ]:
marks = [25, 45, 59, 78, 99]
for index, mark in enumerate(marks):
    print ("The student in index {} got {} out of 100".format(index,mark))

The student in index 0 got 25 out of 100
The student in index 1 got 45 out of 100
The student in index 2 got 59 out of 100
The student in index 3 got 78 out of 100
The student in index 4 got 99 out of 100

In [ ]:
#write for loop to sum all the numbers in the given list
marks = [25, 45, 59, 78, 99]
result = 0
for mark in marks:
    result = result + mark
    print ("The total mark is {}".format(result))

The total mark is 25
The total mark is 70
The total mark is 129
The total mark is 207
The total mark is 306

In [ ]:
#write for loop to sum all the numbers in the given list
marks = [25, 45, 59, 78, 99]
result = 0
for mark in marks:
    result = result + mark
print ("The total mark is {}".format(result))

The total mark is 306

In [ ]:
marks = [25, 45, 59, 78, 99]
result = 0
for mark in marks:
    result = result + mark
print ("The total mark is {}".format(result))
avg = result/len(marks)
print ("The average mark is {}".format(avg))

The total mark is 306
The average mark is 61.2

In [ ]:
num_given = 4
while (num_given>0):
    print (num_given)
    num_given = num_given-1

4
3
2
1

In [ ]:
mark_list = [23,56,-24,45,50]
mark = mark_list[0]
idx = 0
while (mark>0):
    print (mark)
    idx = idx+1
    mark = mark_list[idx]

23
56

In [ ]:
mark_list = [23,56,-24,45,50]
mark = mark_list[1]
idx = 1
while (mark>1):
    print (mark)
    idx = idx+1
    mark = mark_list[idx]

56

In [ ]:
for i in range(1,11):
    print ("I love Python")

I love Python
I love Python
I love Python
I love Python
I love Python
I love Python
I love Python
I love Python
I love Python
I love Python

In [ ]:
counter = 1
while counter < 6:
    print (counter*"*")
    counter += 1

*
**
***
****
*****

In [ ]:
counter = 1
while counter < 6:
    print (counter*"*")
    counter = counter * 2

*
**
****

In [ ]:
counter = 1
while counter <= 30:
    print (counter*"*")
    counter = counter * 5
print (f"The final counter value is {counter}")

*
*****
*************************
The final counter value is 125

In [ ]:
num_given = 4
while (num_given>0):
    print (num_given)
    num_given = num_given - 1
print (f"The last number given is {num_given}")

4
3
2
1
The last number given is 0

In [ ]:
import random
my_number = random.randint(1,100)

guess_number = input ("Guess a number between 1 and 100: ")
guess_number = int (guess_number)
counter = 1

while guess_number != my_number and counter < 10:
    if guess_number < my_number:
        print ("Too Low")
    else:
        print ("Too high")
    guess_number = input ("Guess a number between 1 and 100: ")
    guess_number = int (guess_number)
    counter += 1
print ("Well done! You got it.")

Too Low
Too Low
Too high
Well done! You got it.

In [ ]:
import random

my_number = random.randint(1, 100)

guess_number = int(input("Guess a number between 1 and 100: "))
counter = 1

while guess_number != my_number and counter < 10:
    if guess_number < my_number:
        print("Too low")
    else:
        print("Too high")
    counter += 1
    guess_number = int(input("Guess a number between 1 and 100: "))

if guess_number == my_number:
    print(f"ðŸŽ‰ Well done! You got it in {counter} tries.")
else:
    print(f"ðŸ˜¢ Sorry, youâ€™ve used all 10 tries. The number was {my_number}.")

Too low
Too high
Too high
Too high
Too low
Too high
ðŸŽ‰ Well done! You got it in 7 tries.

In [ ]:
#infinite loop example
check_even = True
while check_even:
    number = input ("Enter an event number: ")
    number = int (number)
    if number % 2 == 0:
        print ("That is an even number. Thank you!")
    else:
        print ("That is not an even number, try again")

That is an even number. Thank you!
That is an even number. Thank you!

In [ ]:
#infinite loop example
check_even = True
while check_even:
    number = input ("Enter an event number: ")
    number = int (number)
    if number % 2 == 0:
        print ("That is an even number. Thank you!")
        check_even = False
    else:
        print ("That is not an even number, try again")

That is not an even number, try again
That is an even number. Thank you!

In [ ]:
result = 1
n= 5
while n > 0:
    result *= n
    n = n-1
print (n)

0

In [ ]:
for k in range (1,11,2):
    print (k)

In [ ]:
fruits_list = ["apple", "banana", "orange"]
for fruit in fruits_list:
    print (fruit)

apple
banana
orange

In [ ]:
for char in "python":
    if char == "t":
        print (char + char, end=" ")
    else:
        print (char, end=" ")

In [ ]:
import random

my_number = random.randint(1, 100)

guess_number = int(input("Guess a number between 1 and 100: "))

for counter in range (10):
    if guess_number < my_number:
        print("Too low")
    elif guess_number > my_number:
        print ("Too high")
    else:
        print ("hooray you got it!")
        break
    guess_number = int(input("Guess a number between 1 and 100: "))

else:
    print(f"ðŸ˜¢ Sorry, youâ€™ve used all 10 tries. The number was {my_number}.")

In [ ]:
encrypted_clues = ["ENCRYPTION", "ALGORITHM", "CO-DE-X", "ECODEEN", "TERMINAL"]
for clue in encrypted_clues:
    print (f"Scanning clue {clue}...")
    if "CODE" in clue:
        print ("BINGO! The secret code has been found!")
        break
    print ("Nah! It is not true. Keep going")
print ("Search complete!")

In [ ]:
numbers = [17, 25, 50, 75, 90]
for num in numbers:
    print (f"Checking {num}...")
    if num%2 == 0:
        print (f"Found the even number: {num}! Stopping the search.")
        break
print ("Loop has been terminated!")

How many times will the print statement be iterated?

In [ ]:
for row in range (1,5):
    for col in range (1,4):
        print (f"({row},{col})", end='')
    print ()

(1,1)(1,2)(1,3)
(2,1)(2,2)(2,3)
(3,1)(3,2)(3,3)
(4,1)(4,2)(4,3)

Nested Loop: Ex 2

In [ ]:
for i in range (12, 14):
    for p in range (1,13):
        result = i * p
        print (f"{i} x {p} = {result}")
    print ("-" * 15)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
---------------
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
---------------

In [ ]:
temp = 0
while temp!= -1000:
    temp = float(input("Enter a temperature (-1000 to quit): "))
    print ("in Farenheit, the temperature is", 9/5*temp+32)

in Farenheit, the temperature is -1786.0
in Farenheit, the temperature is -1768.0

In [ ]:
temp = 0 
while temp != -1000:
    temp = float(input("Enter the temperature(-1000 to quit): "))
    if temp != -1000:
        print ("in Farenheit, the temperature is", 9/5*temp+32)
    else:
        print ("Good Luck!")

Good Luck!

In [ ]:
temp = eval(input('Enter a temperature in Celsius: '))
while temp<-273.15:
    temp = eval(input('Impossible.  Enter a valid temperature: '))
    print ("Invalid temperature")
print('In Fahrenheit, that is', 9/5*temp+32)

Invalid temperature
In Fahrenheit, that is -328.0

In [ ]:
i = 0
while i<8:
    print(i)
    i=i+2
print('Bye!')

0
2
4
6
Bye!

In [ ]:
for i in range(10):
    num = eval(input('Enter number: '))
    if num<0:
        break

In [ ]:
while True:
    temp = eval(input(": "))
    if temp == -1000:
        print ("Bye")
        break
    print (9/5*temp+32)

89.6
Bye

In [ ]:
for i in range (10):
    num = eval(input("Enter the number: "))
    if num <0:
        print ("Stopped already")
        break
else:
    print("User enter all 10 values")

User enter all 10 values

In [ ]:
i = 2
num = int(input("Enter the number:"))
while i<num and num%i !=0:
    i=i+1
if i == num:
    print ("Prime")
else:
    print("Not prime")

Not prime

First, think about what we will need in the program:

We need random numbers, so there will be an import statement at the beginning of the program and a randint function somewhere else.

To allow the user to guess until they either guess right or run out of turns, one solution is to use while loop with a condition that takes care of both of these possibilities.

There will be an input statement to get the user's guess. As this is something that is repeatedly done, it will go inside the loop.

There will be an if statement to take care of the higher/lower thing. As this comparison will be done repeatedly and will depend on the user's guesses, it will go in the loop after the input statement.

There will be a counting variable to keep track of how many turns the player has taken. Each time the user makes a guess, the count will go up by one, so this statement will also go inside the loop.

In [ ]:
from random import randint
com_num = randint(1,100)
num_guess = 0
user_num = 0
while com_num != user_num and num_guess<=4:
    user_num = int(input("Enter your guess (1,100): "))
    num_guess += 1
    if user_num > com_num:
        print ("Too Hight. You have", 5-num_guess, "left")
    elif user_num < com_num:
        print ("Too low. You have", 5-num_guess, "left")
    else:
        print ("You got it")

if num_guess==5 and user_num != com_num:
    print('You lose.  The correct number is', com_num)

In [ ]:
from random import randint

secret_num = randint(1,100)

for num_guesses in range(5):
    guess = eval(input('Enter your guess (1-100): '))
    if guess < secret_num:
        print('HIGHER.', 5-num_guesses, 'guesses left.\n')
    elif guess > secret_num:
        print('LOWER.', 5-num_guesses, 'guesses left.\n')
    else:
        print('You got it!')
        break
else:
    print('You lose.  The correct number is', secret_num)

The code below prints the numbers from 1 to 50. Rewrite the code using a while loop to accomplish the same thing.

for i in range(1,51):
    print(i)

In [ ]:
for i in range(1,11):
    print (i)

Write a program that uses a while loop (not a for loop) to read through a string and print the characters of the string one-by-one on separate lines.
Modify the program above to print out every second character of the string.

In [ ]:
i = 1
while i > 0 and i < 11:
    print (i)
    i += 1

In [ ]:
string = input("Enter the string: ")
i = 0
while i < len(string):
    print(string[i])
    i += 2

Write a program that asks the user to enter a password. If the user enters the right password, the program should tell them they are logged in to the system. Otherwise, the program should ask them to reenter the password. The user should only get five tries to enter the password, after which point the program should tell them that they are kicked off of the system.

In [ ]:
correct_pw = "JeffSatur"
for i in range (5):
    user_pw = input("Enter the pw: ")
    if user_pw == correct_pw:
        print ("You are logged into the system.")
        break
    else:
        print ("Re-enter the password")
else:
    print ("You are kicked out of the system.")

You are logged into the system.

In [ ]:

from random import randint

secret_num = randint(1,100)

for num_guesses in range(4):
    guess = eval(input('Enter your guess (1-100): '))
    if guess < secret_num:
        print('HIGHER.', 4-num_guesses, 'guesses left.\n')
    elif guess > secret_num:
        print('LOWER.', 4-num_guesses, 'guesses left.\n')
    else:
        print('You got it!')
        break
else:
    print('You lose.  The correct number is', secret_num)

Modify the higher/lower program so that when there is only one guess left, it says 1 guess, not 1 guesses.

In [ ]:
from random import randint

secret_num = randint(1, 100)

for num_guesses in range(5):
    guess = int(input("Enter your guess (1-100): "))

    remaining = 4 - num_guesses  # how many guesses left after this round

    if guess > secret_num:
        if remaining == 1:
            print("LOWER. 1 guess left.\n")
        elif remaining > 0:
            print("LOWER.", remaining, "guesses left.\n")
    elif guess < secret_num:
        if remaining == 1:
            print("HIGHER. 1 guess left.\n")
        elif remaining > 0:
            print("HIGHER.", remaining, "guesses left.\n")
    else:
        print("ðŸŽ‰ You got it!")
        break
else:
    print("You lose. The correct number was", secret_num)

The GCD (greatest common divisor) of two numbers is the largest number that both are divisible by. For instance, gcd(18,42) is 6 because the largest number that both 18 and 42 are divisible by is 6. Write a program that asks the user for two numbers and computes their gcd. Shown below is a way to compute the GCD, called Euclid's Algorithm.
First compute the remainder of dividing the larger number by the smaller number
Next, replace the larger number with the smaller number and the smaller number with the remainder.
Repeat this process until the smaller number is 0. The GCD is the last value of the larger number.

In [ ]:
first_number = int(input("Enter the first number: "))
second_number = int(input("Enter the second number: "))
if first_number < second_number:
    first_number, second_number = second_number, first_number
while second_number != 0:
    remainder = first_number % second_number
    first_number = second_number
    second_number = remainder
    if second_number == 0:
        print (first_number)

3

A 4000-year old method to compute the square root of 5 is as follows:
Start with an initial guess, say 1. Then compute

(1+5/1)/2=3.

Next, take that 3 and replace the 1's in the previous formula with 3's . This gives

(3+5/3)/2=7/3 â‰ˆ 2.33.

Next replace the 3 in the previous formula with 7/3. This gives

(7/3+5/(7/3))/2=47/21 â‰ˆ 2.24.

If you keep doing this process of computing the formula, getting a result, and plugging it back in, the values will eventually get closer and closer to âˆš5. This method works for numbers other than 5. Write a program that asks the user for a number and uses this method to estimate the square root of the number correct to within 10-10. The estimate will be correct to within 10-10 when the absolute value of the difference between consecutive values is less than 10-10.

In [ ]:
num = float(input("Enter the number: "))
estimate = 1
while True:
    new_estimate = (estimate + num/ estimate) / 2
    if abs (new_estimate - estimate) < 1e-10:
        break
    estimate = new_estimate
print ("The estimated square root of", num, "is", new_estimate)

The estimated square root of 3.0 is 1.7320508075688772

Write a program that has a list of ten words, some of which have repeated letters and some which don't. Write a program that picks a random word from the list that does not have any repeated letters.

In [ ]:
import random
words = ["apple", "dog", "banana", "tree", "sky", "book", "river", "moon", "cup", "glass"]
non_repeated_words = []
for word in words:
    has_repeat = False
    for letter in word:
        if word.count(letter) > 1:
            has_repeat = True
            break
    if not has_repeat:
        non_repeated_words.append(word)
if non_repeated_words:
    random_word = random.choice(non_repeated_words)
    print ("Random word without repeated letters:", random_word)
else:
    print ("There is no repeated letters")

Random word without repeated letters: dog

In [ ]:
import random

words = ["apple", "dog", "banana", "tree", "sky", "book", "river", "moon", "cup", "glass"]

non_repeated = []

for word in words:
    # Option: use word = word.lower() if you want case-insensitive checks
    if len(set(word)) == len(word):
        non_repeated.append(word)

if non_repeated:
    random_word = random.choice(non_repeated)
    print("Random word without repeated letters:", random_word)
else:
    print("No word without repeated letters found.")

Random word without repeated letters: cup

Write a program that starts with an 5 Ã— 5 list of zeroes and randomly changes exactly ten of those zeroes to ones.

In [ ]:
grid = []
for i in range (5):
    row = []
    for p in range(5):
        row.append(0)
    grid.append(row)
print (grid)
# Randomly change exactly 10 zeroes to ones
# the below code will generate 25 turples of columns , row (data structure to represent 5 x 5 list of zeros)
# the column is in inner loop, so the column will run first and then the row: the turples will be like, (0,1),(0,1),(0,2)....,(4,4)
positions = random.sample([(r,c) for r in range (5) for c in range (5)],10)

for (r,c) in positions:
    grid[r][c] = 1
print (grid)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[0, 1, 1, 0, 1], [1, 1, 0, 0, 0], [0, 1, 0, 1, 1], [0, 1, 1, 0, 0], [0, 0, 0, 0, 0]]

Functions in Python

In [ ]:
num_list = list(range(10))
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
marks = [23, 50, 70, 90, 98]
new_list_with_tuple = list(enumerate(marks)) #enumerate = index, value
print(new_list_with_tuple)

[(0, 23), (1, 50), (2, 70), (3, 90), (4, 98)]

In [ ]:
new_list_with_tuple = [*enumerate(marks)] # * similar to lsit(enumerate(marks))
print(new_list_with_tuple)

[(0, 23), (1, 50), (2, 70), (3, 90), (4, 98)]

In [ ]:
names = ['Jackson', 'JayB', 'BamBam', 'MarkTuan']
names_upper = [*map(str.upper,names)]
print (names_upper)

['JACKSON', 'JAYB', 'BAMBAM', 'MARKTUAN']

In [ ]:
#split email function
def split_name_domain(email):
    """
    split_name_domain splits the input email into name and domain.
    args:
    email(str): the email to split

    Returns:
    no return , just printing out
    """
    email_list = email.split('@')
    print ("Name: {} \nDomain: {} \n".format(email_list[0],email_list[1]))

split_name_domain("chanchan@gmail.com")
split_name_domain("chanmrathandar@mips-mm.org")
split_name_domain("cmrathandar@earthrights.org")

Name: chanchan
Domain: gmail.com

Name: chanmrathandar
Domain: mips-mm.org

Name: cmrathandar
Domain: earthrights.org

In [ ]:
#loan amount interest function
def loan_calculator(loan_amount, interest_rate):
    total_interest = loan_amount*interest_rate/100
    return total_interest
print (loan_calculator(10000,4))
print(loan_calculator(interest_rate = 10, loan_amount = 1000))

400.0
100.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

User defined function:
Check if the student pass the exam for elective and core subjects
Passing score is given 40
Elective total mark = 20
Core total mark = 100

In [ ]:
def elective_sub_grade(mark):
    """
    elective_sub_grade returns the grade of the student for the given mark
    Args:
    mark(float): float number (mark is out of 20)
    
    return:
    grade(bool): Grade Pass (True) or Fail (False) is returned based on the threshold

    """
    threshold = 40
    mark = mark * 5
    return (mark>threshold)

In [ ]:
def core_sub_grade(mark):
    threshold = 40
    return (mark>threshold)

In [ ]:
#threshold is global and is accessible for both function
def elective_sub_grade(mark):
    global threshold
    threshold = 40

    mark = mark * 5
    return (mark>threshold)

def core_sub_grade(mark):
    return (mark>threshold)

In [ ]:
def display_myinfo():
    print ("Name:", "Chan")
    print ("ID:", "st122444")
    print ("Class:", "Python101")
display_myinfo()

Name: Chan
ID: st122444
Class: Python101

In [ ]:
def display_myinfo(name, uid, class_name):
    print ("Name:", name)
    print ("ID:", uid)
    print ("Class:", class_name)
display_myinfo("Chan Chan", "St12244", "PY101")

Name: Chan Chan
ID: St12244
Class: PY101

In [ ]:
# we can define variables to display the name 
def display_myinfo(name, uid, class_name):
    print ("Name:", name)
    print ("ID:", uid)
    print ("Class:", class_name)
name = "Chan Mra"
uid = "St12244"
class_name = "PY101"
display_myinfo(name,uid,class_name)

Name: Chan Mra
ID: St12244
Class: PY101

In [ ]:
def say_hello (name,greeting):
    print(f"{greeting}, {name}")
say_hello("Chan Mra", "How are you!")

How are you!, Chan Mra

In [ ]:
#position matters in python
def say_hello (name,greeting):
    print(f"{greeting}, {name}")
say_hello("Hi!", "Chan")

Chan, Hi!

In [ ]:
#position matters in python
def say_hello (name,greeting):
    print(f"{greeting}, {name}")
say_hello(greeting = "Hi!", name = "Chan")

Hi!, Chan

In [ ]:
#default parameter
def say_hello (name = "Chan", greeting = "How are you!"):
    print(f"{greeting}, {name}")

In [ ]:
def rectangle(2,4):
    for k in range(2):
        print(4*'*')

rectangle(2,4)

SyntaxError: invalid syntax (71734742.py, line 1)

In [ ]:
s = ''
for i in range(10):
    t = input('Enter a letter: ')
    if t=='a' or t=='e' or t=='i' or t=='o' or t=='u':
        s = s + t
print(s)

aaae

In [ ]:
s = ''
for i in range (10):
    t = input ('Enter a letter: ')
    if t in 'aeiou':
        s += t
print(s)

aaaaee

In [ ]:
s = s[:4] + 'X' + s[5:]
print (s)

aaaaXe

In [ ]:
#string methods

b = "chanmrat"
b = b[:6] + 'A' + b[7:]
print (b)
for i in range(len(b)):
    print(b[i])
for i in b:
    print(i)
print(b.lower())
print(b.upper())
print(b.replace('A','a'))
print(b.count('a'))
print (b.index('a'))
print(b.isalpha())

chanmrAt
c
h
a
n
m
r
A
t
c
h
a
n
m
r
A
t
chanmrat
CHANMRAT
chanmrat
1
2
True

In [ ]:
s = input('Enter a string')

if s[0].isalpha():
    print('Your string starts with a letter')

if not s.isalpha():
    print('Your string contains a non-letter.')

Your string starts with a letter
Your string contains a non-letter.

In [ ]:
print('p\n'*9)

p
p
p
p
p
p
p
p
p

In [ ]:
s = input('Enter some text: ')
for i in range(len(s)):
    if s[i]=='p':
        print(i)
        break

1

In [ ]:
k = input("Enter the string:")
double_s = ''
for i in k:
    double_s += i*2
print(double_s)

cchhaann

In [ ]:
name = input('Enter your name: ')
for i in range(len(name)):
    print(name[:i+1], end = ' ')

T Th Tho Thor Thord Thorda Thordar

In [ ]:
s = input ('Enter a string:')
s = s.lower()
#remvoing the punctuation
for c in s:
    if c in ',.;:-?!()\'"':
        s = s.replace(c, '')
print (s)

i love you

In [ ]:
k = input ("Enter a decimal number:")
print (k[k.index('.')+1:]) # this part is the starting point of the index ([k.index('.')+1)

21

In [ ]:
from math import floor
num = eval(input('Enter your decimal number: '))
print(num - floor(num))

0.8878999999999984

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'
key = 'xznlwebgjhqdyvtkfuompciasr'

secret_message = input('Enter your message: ')
secret_message = secret_message.lower()

for c in secret_message:
    if c.isalpha():
        print(key[alphabet.index(c)],end='')
    else:
        print(c, end='')

ngxvyuxmgxvlxu

In [ ]:
string = input ("Enter a string:")
#print(len(string))
#print (string*10)
#print (string[0])
#print (string[0:3])
#print (string[-3:])
#print(string[::-1])
if len(string) > 7:
    print (string[6])
else:
    print ("The string is not long enough")
print(string[1:-1])
print(string.upper())
print(string.replace('a','e'))
print (' ' * len(string))

f
eautifu
BEAUTIFUL
beeutiful

In [ ]:
user_input = input ("Enter a sentence:")
c =  user_input.count(' ')
print ("The estimate number of words in the string is, ", c+1)

The estimate number of words in the string is,  3

In [ ]:
formula = input ("Enter a formula:")

if '(' in formula or ')' in formula:
    if formula.count('(') == formula.count(')'):
        print ("The formula has the same number of opening and closing parenthesis.")
    else:
        print ("The formula does not have the same number of parenthesis.")
else:
    print ("Your formula does not have parenthesis.")

The formula does not have the same number of parenthesis.

Write a program that asks the user to enter a word and prints out whether that word contains any vowels

In [41]:
vowels = ['a','e','i','o','u']
case = input ("Enter a word:")
for i in vowels:
    if i in case:
        print("The world contains vowels")
        break

The world contains vowels

Write a program that asks the user to enter a word and prints out whether that word contains any vowels

In [ ]:
word = input("Enter a word:")
if 'a' in word or 'e' in word or 'i' in word or 'o' in word or 'u' in word:
    print ("The word contains vowels")
else:
    print ("The word does not contain any vowels.")

Functions Practice

In [44]:
def convert(t):
    return t*9/5+32

print(convert(20))

68.0

In [45]:
def solve(a,b,c,d,e,f):
    x = (d*e-b*f)/(a*d-b*c)
    y = (a*f-c*e)/(a*d-b*c)
    return [x,y]

xsol, ysol = solve(2,3,4,1,2,5)
print('The solution is x = ', xsol, 'and y = ', ysol)

The solution is x =  1.3 and y =  -0.2

In [52]:
def multiple_print(string, n, bad_words):
    if string in bad_words:
        return
    print(string * n)
    print()
multiple_print('P', 10, 'Good')

PPPPPPPPPP

In [58]:
def multiple_print(string, n=5):
    print(string * n)
    print()
multiple_print('YOU ')

YOU YOU YOU YOU YOU

In [63]:
def fancy_print(text, color='black', background='white', style='normal', justify='left'):
    return text, color, background, style, justify
#fancy_print('Hi', style='bold')
fancy_print('Hi', color='yellow', background='black')
#fancy_print('Hi')

('Hi', 'yellow', 'black', 'normal', 'left')

In [72]:
def func1():
    for i in range(10):
        print(i)
func1()
def func2():
    i=100
    func1()
    print(i)
func2()

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
100

In [73]:
def reset():
    global time_left
    time_left = 0

def print_time():
    print(time_left)

time_left=30

Write a function called rectangle that takes two integers m and n as arguments and prints out an m Ã— n box consisting of asterisks. Shown below is the output of rectangle(2,4)

In [76]:
def rectangle(m,n):
    for i in range (m):
        print ('*' * n)
rectangle(2,4)

****
****

Write a function called add_excitement that takes a list of strings and adds an exclamation point (!) to the end of each string in the list. The program should modify the original list and not return anything.

In [ ]:
def add_exciment(list_of_words):
    for i in range(len(list_of_words)):
        list_of_words[i] = list_of_words[i] + '!'
words = ['Hello', 'Hi']
add_exciment(words)
print(words)

['Hello!', 'Hi!']

Write the same function except that it should not modify the original list and should instead return a new list.

In [6]:
def add_exciment(list_of_words):
    my_list = []
    for word in list_of_words:
        modify = word + '!'
        my_list.append(modify)
    return my_list
words = ['Hello', 'Hi']
exictment = add_exciment(words)
print(words)
print(exictment)

['Hello', 'Hi']
['Hello!', 'Hi!']

In [9]:
def add_exciment(list_of_words):
    for i in range(len(list_of_words)):
        list_of_words[i] = list_of_words[i] + '!'

print(add_exciment(['Hello', 'Hi']))

None

In [25]:
def sum_digits(num):
    total = 0
    for i in str(abs(num)):
        total += int(i)
    return total
sum_digits(23)

5

In [29]:
x = 10
def my_function():
    x = 5
    print(f"Inside the function, x is {x}")
my_function()
print (f"Outside the function, x is: {x}")

Inside the function, x is 5
Outside the function, x is: 10

In [36]:
import random
player_name = 'Gandlf'
player_type = 'Wizard'

def roll():
    # return a roll of 20 slided die
    number = random.randint(1,20)
    return number
print ("A troll attacks!")
troll_roll = roll()
player_roll = roll()

print (f"Player: {str(player_roll)}    Troll: {str(troll_roll)}")

A troll attacks!
Player: 5    Troll: 11

What does each print statement display?

In [38]:
def avg(a,b):
    tmp = (a + b) / 2.0
    print(f"Inside avg function, tmp is {tmp}")
    return tmp
a = 5
b = 10
tmp = a+b
result = avg(a,b)
print(f"Avg: {result:0.2f}")
print(f"Sum: {tmp:0.2f}")

Inside avg function, tmp is 7.5
Avg: 7.50
Sum: 15.00

"""def print (message):
    name = "Program Design - I"
    return name
class_name = "CS112/BIOS112"
print(f"Welcome to {class_name}")"""

In [1]:
def calculate_bmi(height_m, weight_kg):
    height_m = height_m ** 2
    bmi = weight_kg/height_m

    print(f"Inside the function: {height_m:0.2f}")
    return bmi

height_m = 1.7
weight_kg = 65

print(f"Before passing to function: {height_m:0.2f}")
calculate_bmi(height_m, weight_kg)

print(f"After passing to function: {height_m:0.2f}")

Before passing to function: 1.70
Inside the function: 2.89
After passing to function: 1.70

In [ ]:
def modify(num_list):
    num_list[1] = 99 #directly change to the original number list
    print("Inside modify function:", num_list)
my_list = [10,20,30]
modify(my_list)
print("Outside modify function:", my_list)

Inside modify function: [10, 99, 30]
Outside modify function: [10, 99, 30]

In [3]:
def modify(num_list):
    num_list[1] = 99
    print("Inside modify function:", num_list)
my_list = [10,20,30]
modify(my_list.copy())
print("Outside modify function:", my_list)

Inside modify function: [10, 99, 30]
Outside modify function: [10, 20, 30]

In [6]:
int("42")
int("42") + int(53)
int("forty tow")

ValueError: invalid literal for int() with base 10: 'forty tow'

In [8]:
#Zero Division Error Example
a = input ("Enter numerator: ")
b = input ("Enter denominator: ")
try:
    d = int(a)/int(b)
    print("{} divided by {} is {}.format(a,b,d)")
except ZeroDivisionError:
    print("Denominator value is {}".format(b))

Denominator value is 0

In [9]:
#Zero Division Error Example
a = input ("Enter numerator: ")
b = input ("Enter denominator: ")
try:
    d = int(a)/int(b)
    print("{} divided by {} is {}.format(a,b,d)")
except ZeroDivisionError:
    print("Denominator value is {}".format(b))
except ValueError:
    print("Value must be numbers.")

Value must be numbers.

In [11]:
#Zero Division Error Example
a = input ("Enter numerator: ")
b = input ("Enter denominator: ")
try:
    d = int(a)/int(b)
except ZeroDivisionError:
    print("Denominator value is {}".format(b))
except ValueError:
    print("Value must be numbers.")
else:
    print("{} divided by {} is {}".format(a,b,d))

3 divided by 4 is 0.75

In [24]:
#Exception in Function
def elective_sub_grade(mark):
    global threadshold
    threadshold = 40
    try:
        mark = mark * 5
        grade = mark>threadshold
    except TypeError:
        print ("The score must be a number")
    except NameError:
        print ("You have to provide the score")
    else:
        return grade
elective_sub_grade(a)
elective_sub_grade(90)
elective_sub_grade()

The score must be a number

TypeError: elective_sub_grade() missing 1 required positional argument: 'mark'

In [26]:
try:
    guess_num = int(input("Guess a number between 1 and 100: "))
    print(f"The number entered is {guess_num}")
except ValueError:
    print("That is not a valid integer. Please try again.")

That is not a valid integer. Please try again.

In [1]:
try:
    numerator = float(input("Enter enumerator value: "))
    denominator = float(input("Enter denominator value: "))
    result = numerator/denominator
    print(f"Result: {result}")
except ValueError:
    print("Either Numerator or Denominator is not a number:")
except ZeroDivisionError:
    print("Division by zero is mathematically not allowed.")

Division by zero is mathematically not allowed.

In [6]:
L = eval(input('Enter a list: '))
print('The first element is ', L[0])

The first element is  3

In [7]:
[7,8] + [5,6,7]

[7, 8, 5, 6, 7]

In [8]:
[5,4,5,6,]*4

[5, 4, 5, 6, 5, 4, 5, 6, 5, 4, 5, 6, 5, 4, 5, 6]

In [9]:
[9] * 9

[9, 9, 9, 9, 9, 9, 9, 9, 9]

In [12]:
min([9,10])

9

In [27]:
my_list = [3,4,5,5,6,10]
my_list.append(5)
my_list.sort()
my_list.count(5)
my_list.index(5)
my_list.reverse()
my_list.pop(3)
my_list

[10, 6, 5, 5, 4, 3]

In [33]:
k = [1,2,3,4,5]
k.pop(1)
k.insert(2,9)
del k[:2]
k

[9, 4, 5]

In [44]:
from random import randint
L = []
for i in range (50):
    L.append(randint(1,100))
for i in range (len(L)):
    L[i] = i**2
count = 0
for item in L:
    if item>50:
        count+= 1
count

42

In [57]:
import random
z = []
for i in range (10):
    x = random.randint(1,100)
    z.append(x)
frequencies = []
for p in z:
    frequencies.append(z.count(p))
frequencies

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [65]:
scores = [100,85, 78,100,77]
scores.sort()
scores[0]
scores[1]
scores[-1]
scores[-2]

100

The digital root of a number n is obtained as follows: Add up the digits n to get a new number. Add up the digits of that to get another new number. Keep doing this until you get a number that has only one digit. That number is the digital root. For example, if n=45893, we add up the digits to get 4+5+8+9+3 = 29. We then add up the digits of 29 to get 2+9=11. We then add up the digits of 11 to get 1+1=2. Since 2 has only one digit, 2 is our digital root. Write a function that returns the digital root of an integer n. [Note: there is a shortcut, where the digital root is equal to n mod 9, but do not use that here.]

In [ ]:
def digital_root(n):
    """
    1. We have to change the data type of n to string so that we can retrieve index.
    2. We have to initiate total is 0 since we want to use it in the function to add up each number.
    3. Adding up numbers one by one using index.
    """
    n = str(abs(n))
    total = 0
    for i in n:
        i = int(i)
        total += i
    return total

digital_root (24)

6

Write a function called first_diff that is given two strings and returns the first location in which the strings differ. If the strings are identical, it should return -1.

In [108]:

def first_diff(first_string, second_string):
    if first_string == second_string:
        return -1
    i = 0
    while i < len(first_string) and i < len(second_string):
        if first_string[i] != second_string[i]:
            return i
        i += 1
first_diff("bkeautyful","beauty")

1


Write a function called binom that takes two integers n and k and returns the binomial coefficient n C k. The definition is n C k = n!/(k!(n-k)!).
5C2â€‹=2!Ã—(5âˆ’2)!5!â€‹=2Ã—6120â€‹=10

In [113]:
def binom (n,k):
    i = 0
    while n - (i+1) >= 1:
        nCk = (n * (n - (i+1)))/(k * (k - (i+1)) * (n-k) * (n-k) - (i+1))
        i = i+1
    return nCk

binom(3,2)

-1.5

In [1]:
def binom(n, k):
    if k > n:
        return 0  # cannot choose more items than available
    result = 1
    i = 0
    while i < k:
        result = result * (n - i) // (i + 1)
        i += 1
    return result
binom(3,2)

3

Write a function that takes an integer n and returns a random integer with exactly n digits. For instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because that is really 93, which is a two-digit number.

In [8]:
from random import randint
import random
def random_number(n):
    number = random.randint(10**(n-1), (10**n)-1)
    return number
random_number(1)

5


Write a function called number_of_factors that takes an integer and returns how many factors the number has.

In [27]:
def number_of_factors(k):
    count = 0
    for i in range(1,k+1):
        if k%i == 0:
             count += 1
    return count
       
number_of_factors(20)

6

Write a function called factors that takes an integer and returns a list of its factors.

In [30]:
def factors_list(n):
    factors = []
    for i in range(1,n+1):
        if n%i == 0:
            factors.append(i)
    return factors
factors_list(20)

[1, 2, 4, 5, 10, 20]

Write a function called closest that takes a list of numbers L and a number n and returns the largest element in L that is not larger than n. For instance, if L=[1,6,3,9,11] and n=8, then the function should return 6, because 6 is the closest thing in L to 8 that is not larger than 8. Don't worry about if all of the things in L are smaller than n.

In [31]:
def closet(L,n):
    larger = []
    for i in L:
        if i<= n:
            larger.append(i)
    return max(larger)
closet([1,2,5,8,9],6)

5


Write a function called matches that takes two strings as arguments and returns how many matches there are between the strings. A match is where the two strings have the same character at the same index. For instance, 'python' and 'path' match in the first, third, and fourth characters, so the function should return 3.

In [37]:
def matches (str1,str2):
    """
    If the condition met (the charcter of the same string position are equal), it returns 1. If they are not equal, it returns nothing.
    """
    count = 0
    for i in range (min(len(str1), len(str2))):
        if str1[i] == str2[i]:
            count+=1
    return count
matches("cook","broke")

2

Recall that if s is a string, then s.find('a') will find the location of the first a in s. The problem is that it does not find the location of every a. Write a function called findall that given a string and a single character, returns a list containing all of the locations of that character in the string. It should return an empty list if there are no occurrences of the character in the string.

In [42]:
def findall(string, c):
    char_location = []
    for i in range(len(string)):
        if string[i] == c:
            char_location.append(i)
    return char_location
findall('toddler','k')

[]

#Working with functions

In [2]:
def f(x):
    return x*x
g=f
print(f(3))
print(g(6))

9
36

In [4]:
def f(x):
    return x ** 2
def g(x):
    return x** 3
funcs = [f,g]
print(funcs[0](2))
print(funcs[1](10))

4
1000

In [9]:
# 1. Add two numbers
def f1(a, b):
    return a + b

# 2. Subtract second number from first
def f2(a, b):
    return a - b

# 3. Multiply two numbers
def f3(a, b):
    return a * b

# 4. Divide first by second (with zero check)
def f4(a, b):
    return a / b if b != 0 else "undefined"

# 5. Return the larger of two numbers
def f5(a, b):
    return a if a > b else b

# 6. Return the smaller of two numbers
def f6(a, b):
    return a if a < b else b

# 7. Check if both numbers are equal
def f7(a, b):
    return a == b

# 8. Return the average of two numbers
def f8(a, b):
    return (a + b) / 2

# 9. Concatenate two strings
def f9(a, b):
    return str(a) + str(b)

# 10. Return the power (a^b)
def f10(a, b):
    return a ** b
funcs = [f1, f2, f3, f4, f5, f6, f7, f8, f9, f10]
num = eval(input('Enter a number: '))
funcs[num](3,5)

3

In [8]:
# Define the 10 functions
def f1(a, b): return a + b
def f2(a, b): return a - b
def f3(a, b): return a * b
def f4(a, b): return a / b if b != 0 else "undefined"
def f5(a, b): return max(a, b)
def f6(a, b): return min(a, b)
def f7(a, b): return a == b
def f8(a, b): return (a + b) / 2
def f9(a, b): return str(a) + str(b)
def f10(a, b): return a ** b

# Store them in a list
funcs = [f1, f2, f3, f4, f5, f6, f7, f8, f9, f10]

# Ask user for index
num = int(input("Enter a number from 0â€“9 to pick a function: "))

# Example arguments
a, b = 3, 5

# Call the selected function correctly
result = funcs[num](a, b)
print(f"Result of f{num+1}({a}, {b}) = {result}")

Result of f4(3, 5) = 0.6

In [11]:
L = [(5,4), (3,2), (1,7), (8,1)]
L.sort()
L

[(1, 7), (3, 2), (5, 4), (8, 1)]

In [13]:
def comp(x):
    return x[1]
L = [(5,4), (3,2), (1,7), (8,1)]
L.sort(key=comp)
L

[(8, 1), (3, 2), (5, 4), (1, 7)]

In [15]:
L = ['this', 'is', 'a', 'test', 'of', 'sorting']
L.sort(key=len)
L

['a', 'is', 'of', 'this', 'test', 'sorting']

In [17]:
def product(*nums):
    prod = 1
    for i in nums:
        prod*=i
    return prod
print(product(10,4), product(2,8,1), sep='\n')

40
16

In [19]:
def f(**keyargs):
    for k in keyargs:
        print(k, '**2 : ', keyargs[k]**2, sep='')
f(x=3, y=4, z=5)

x**2 : 9
y**2 : 16
z**2 : 25

In [20]:
a = 3
b = 0
c = a/b
print('Hi there')

ZeroDivisionError: division by zero

In [21]:
a = 3
b = 0
try:
    c=a/b
except ZeroDivisionError:
    print('Calculation error')
print('Hi there')

Calculation error
Hi there

In [35]:
try:
    a = eval(input('Enter a number: '))
    print (3/a)
except NameError:
    print('Please enter a number.')
except ZeroDivisionError:
    print("Can't enter 0.")

Please enter a number.

In [26]:
try:
    a = eval(input('Enter a number: '))
    print (3/a)
except:
    print('A problem occurred.')

A problem occurred.

In [41]:
try:
    c = a/0
except Exception as e:
    print(e)

division by zero

In [42]:
try:
    file = open('filename.txt', 'r')
except IOError:
    print('Could not open file')
else:
    s = file.read()
    print(s)

Could not open file

In [45]:
f = open('filename.txt', 'w')
s = 'hi'
try:
   file = open('filename.txt', 'r')
finally:
    f.close()

In [47]:
deck = [{'value':i, 'suit':c}
        for c in ['spades', 'clubs', 'hearts', 'diamonds']
        for i in range(2,15)]
deck[0]['value']
deck[0]['suit']

'spades'

In [3]:
x = 10
def my_function():
    x = 5
    print (f"Inside the function, x is: {x}")
my_function()
print (f"Outside the function, x is {x}")

Inside the function, x is: 5
Outside the function, x is 10

In [ ]:
import random
player_name = "Gandalf"
player_type = "Wizard"

def roll():
    """ Return a roll of 20 slided dice"""
    number = random.randint(1,20)
    return number

print("A troll attacks!")

troll_roll = roll()
player_roll = roll()

print (f"Player: {str(player_roll)}         Troll: str{(troll_roll)}")

A troll attacks!
Player: 1         Troll: str11

In [7]:
def avg(a,b):
    tmp = (a+b) / 2.0
    print(f"Inside avg function, tmp is: {tmp}")
    return tmp

a = 5
b = 10
tmp = a+b
result = avg(a,b)

print(f"Avg: {result:0.2f}")
print(f"Sum: {tmp:0.2f}")

Inside avg function, tmp is: 7.5
Avg: 7.50
Sum: 15.00

In [12]:
"""
def print (message):
    name = "Program Dessign 1"
    return name
class_name = "CS112/BIOS112"
print(f"Welcome to {class_name}")
"""

'\ndef print (message):\n    name = "Program Dessign 1"\n    return name\nclass_name = "CS112/BIOS112"\nprint(f"Welcome to {class_name}")\n'

In [1]:
def len(x):
    return 100

name = "Alice"
print(len(name))

100

In [2]:
course = "Math 101"

def course_name():
    course = "Physics 202"
    return course

print(course)
print(course_name())
print(course)

Math 101
Physics 202
Math 101

In [3]:
def greet():
    return "Hello, world!"

message = greet()
print(message)
print(greet())

Hello, world!
Hello, world!

In [4]:
def greet():
    print("Hello, world!")

message = greet()
print(message)
print(greet())

Hello, world!
None
Hello, world!
None

In [2]:
def modify (my_list):
    my_list[2] = "chan"
    print ("Inside modify function: ", my_list)
res_list = ["cat", "cow", "car"]
modify(res_list)
print ("Inside modify function: ", res_list)

Inside modify function:  ['cat', 'cow', 'chan']
Inside modify function:  ['cat', 'cow', 'chan']

In [3]:
def modify (my_list):
    my_list[2] = "chan"
    print ("Inside modify function: ", my_list)
res_list = ["cat", "cow", "car"]
modify(res_list.copy())
print ("Inside modify function: ", res_list)

Inside modify function:  ['cat', 'cow', 'chan']
Inside modify function:  ['cat', 'cow', 'car']

In [9]:
a = input ('Enter numerator: ')
b = input ('Enter denominator: ')
d = int(a) / int(b)
print ("{} divided by {} is {}".format(a,b,d))

2 divided by 1 is 2.0

In [10]:
try:
    guess_num = int(input("Guess a number between 1 and 100: "))
    print(f"The number entered is {guess_num}")
except ValueError:
    print(f"That is not a valid integer. Please try again.")

That is not a valid integer. Please try again.

In [11]:
str(24) + "car"

'24car'

In [12]:
24 + int(car)

NameError: name 'car' is not defined

In [ ]:
"hi" * "k"

'hihihi'

In [14]:
text = "hello"
text["2"]    # using string instead of int index

TypeError: string indices must be integers, not 'str'

In [15]:
[1, 2, 3] + "hi"

TypeError: can only concatenate list (not "str") to list

In [17]:
[1, 2, 3] + [5]

[1, 2, 3, 5]

In [18]:
[1, 2, 3] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [19]:
[1, 2, 3] * 2

[1, 2, 3, 1, 2, 3]

In [20]:
s = "hello"
s.append("!")

AttributeError: 'str' object has no attribute 'append'

In [21]:
letters = ["a", "b", "c"]
letters[1.0]

TypeError: list indices must be integers or slices, not float

In [24]:
student = {
    "name": "Bob",
    "grades": {"math": 90}
}
student["grades"]["math"]

90

In [ ]:
def matches (str1,str2):
    """
    If the condition met (the charcter of the same string position are equal), it returns 1. If they are not equal, it returns nothing.
    """
    count = 0
    for i in range (min(len(str1), len(str2))):
        if str1[i] == str2[i]:
            count+=1
    return count
matches("cook","broke")

2

In [2]:

# calling the function as follows:

import numpy as np
grid = np.random.randint(1,10,(9,9))
print(grid)

# The set of expected numbers for a solved unit (row, column, or block)
expected_numbers = set(range(1, 10))

def check_rows(grid, expected_numbers):
    """Checks for uniqueness and completeness (1-9) in every row."""
    for i, row in enumerate(grid):
        if set(row) != expected_numbers:
            return False, f"Row {i + 1}: {row}"
    return True, None

def check_cols(grid, expected_numbers):
    """Checks for uniqueness and completeness (1-9) in every column."""
    sudoku_size = 6
    for j in range(sudoku_size):
        column = [grid[i][j] for i in range(sudoku_size)]
        if set(column) != expected_numbers:
            return False, f"Column {j + 1}: {column}"
    return True, None

def check_blocks(grid, expected_numbers):
    """Checks for uniqueness and completeness (1-9) in every 3x3 block."""
    # Iterate over the starting indices for the 9 blocks: (0,0), (0,3), (0,6), (3,0), ...
    for block_row_start in [0, 3, 6]:
        for block_col_start in [0, 3, 6]:
            block = []
            
            # Extract the 3x3 block's elements
            for i in range(block_row_start, block_row_start + 3):
                for j in range(block_col_start, block_col_start + 3):
                    block.append(grid[i][j])
            
            # Check for uniqueness and completeness (1-9)
            if set(block) != expected_numbers:
                return False, f"Block at ({block_row_start+1}, {block_col_start+1})"
    return True, None

def is_sudoku_solved(grid):
    """
    Checks if the given 9x9 grid is a correctly solved Sudoku puzzle by verifying
    row, column, and 3x3 block constraints.
    """
    global sudoku_size
    sudoku_size = len(grid)
    # 1. Basic check: Ensure the grid is 9x9
    if len(grid) != 9 or any(len(row) != 9 for row in grid):
        print("Error: Grid must be exactly 9x9.")
        return False

    # The set of expected numbers for a solved unit (row, column, or block)
    expected_numbers = set(range(1, 10))

    # 2. Check Rows
    is_valid, error_info = check_rows(grid, expected_numbers)
    if not is_valid:
        print(f"Mistake found in {error_info}")
        return False

    # 3. Check Columns
    is_valid, error_info = check_cols(grid, expected_numbers)
    if not is_valid:
        print(f"Mistake found in {error_info}")
        return False

    # 4. Check Blocks
    is_valid, error_info = check_blocks(grid, expected_numbers)
    if not is_valid:
        print(f"Mistake found in {error_info}")
        return False

    # If all checks pass, the Sudoku is solved correctly
    return True

is_sudoku_solved(grid.tolist())


solved_grid = [
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
]
is_sudoku_solved(solved_grid)

[[4 4 1 5 8 4 6 7 7]
 [8 2 7 8 6 8 4 5 5]
 [1 2 3 3 9 7 9 6 6]
 [9 7 5 6 5 7 2 3 6]
 [2 1 8 9 8 3 7 5 4]
 [6 1 5 9 1 2 1 8 5]
 [5 4 4 3 1 9 9 6 8]
 [2 4 9 1 2 8 2 6 7]
 [8 6 3 5 5 6 5 5 7]]
Mistake found in Row 1: [4, 4, 1, 5, 8, 4, 6, 7, 7]
Mistake found in Column 1: [5, 6, 1, 8, 4, 7]

False


Write a program that asks the user to enter a word and then capitalizes every other letter of that word. So if the user enters rhinoceros, the program should print rHiNoCeRoS.

In [9]:
string = input ("Enter the string: ")
result = ""
i = 0
while i < len(string):
    if i%2 == 0:
        result += string[i].lower()
    elif i%2!= 0:
        result += string[i].upper()
    i += 1
    
print(result)

cOnCeNtRaTiOn


Write a program that asks the user to enter two strings of the same length. The program should then check to see if the strings are of the same length. If they are not, the program should print an appropriate message and exit. If they are of the same length, the program should alternate the characters of the two strings. For example, if the user enters abcde and ABCDE the program should print out AaBbCcDdEe.

In [11]:
string1 = input ("Enter the first string: ")
string2 = input ("Enter the second string with the same length of the first string: ")
result = ""
while True:
    if len(string1) != len(string2):
        print ("The strings does not have the same length.")
        break
    else:
        for i in range(len(string1)):
            result += string1[i]+string2[i]
        break
print(result)

aoprpalneg

Write a program that asks the user to enter their name in lowercase and then capitalizes the first letter of each word of their name.

In [13]:
name = input("Enter your name in small case: ")
result = name.title()
print(result)

Chan Mra Thandar

In [16]:
name = input("Enter your name in small case: ")
result = ""
word = name.split()
for w in word:
    result += w[0].upper() + w[1:] + " "
print(result)

Chan Mra Thandar

Write a function called change_case that given a string, returns a string with each upper case letter replaced by a lower case letter and vice-versa.

In [26]:
string = input ("Enter the string: ")

def change_case(string):
    result = ""
    for i in string:
        if i.isupper():
            result += i.lower()
        else:
            result+= i.upper()
    return result
change_case(string)

'BEAUTIFul'

In [27]:
s = 0
for i in range(1,101):
    s = s + i
print('The sum is', s)

The sum is 5050

Write a function called is_sorted that is given a list and returns True if the list is sorted and False otherwise.

In [31]:
def is_sorted(given_list):
    if given_list == sorted(given_list):
        return True
    else:
        return False
is_sorted([5,6,7,8])

True

In [33]:
def root(x,n=2):
    return (x**(1/n))
root(5,2)

2.23606797749979


Write a function called one_away that takes two strings and returns True if the strings are of the same length and differ in exactly one letter, like bike/hike or water/wafer.

In [49]:
def one_away(string1, string2):

    if len(string1) == len(string2):
        differences = 0
        for i in range(len(string1)):
            if string1[i] != string2[i]:
                differences += 1
                if differences >1:
                    return False
        return differences == 1
            
one_away("bike","hooe")

False

Program Design - BMI Calculation Example Using Pass Keyword

In [55]:
def get_user_input():
    pass
def calculate_bmi(height_m, weight_kg):
    pass
def get_bmi_category(bmi):
    pass
def display_bmi_result(bmi,category):
    pass

def main():
    height, weight = get_user_input()

    bmi_value = calculate_bmi(height,weight)

    category = get_bmi_category(bmi_value)

    display_bmi_result(bmi_value,category)

In [64]:
def get_user_input():
    height = float(input("Enter your height in meters: "))
    weight = float(input("Enter your weight in kilograms: "))
    return height, weight

def calculate_bmi(height_m, weight_kg):
    bmi = weight_kg / (height_m ** 2)
    return bmi

def get_bmi_category(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif 18.5 <= bmi < 24.9:
        return "Healthy Weight"
    elif 25 <= bmi < 29.9:
        return "Over Weight"
    else:
        return "Obesity"

def display_bmi_result(bmi,category):
    print (f"Your BMI is: {bmi:.2f}")
    print (f"You are classified as: {category}")

def main():
    height, weight = get_user_input()
    print(f"Height: {height} m, Weight: {weight} kg")

    bmi_value = calculate_bmi(height,weight)
    print(f"BMI: {bmi_value: .2f}")

    category = get_bmi_category(bmi_value)
    print(f"Category: {category}")

    display_bmi_result(bmi_value,category)

main()

Height: 1.48 m, Weight: 42.0 kg
BMI:  19.17
Category: Healthy Weight
Your BMI is: 19.17
You are classified as: Healthy Weight

Example with Return keyword

In [ ]:
def get_user_input():
    height = 0
    weight = 0
    return height, weight

def calculate_bmi(height_m, weight_kg):
    bmi = 0
    return bmi

def get_bmi_category(bmi):
    return "default"

def main():
    height, weight = get_user_input()

    bmi_value = calculate_bmi(height,weight)

    category = get_bmi_category(bmi_value)

    display_bmi_result(bmi_value,category)

Design Guess the number game
Let's revisit "Guess the number game using funtion stubs.
What are the functions will you need?
- Generate a secret number
- Get the player guess
- Check guess (small, large, bingo)
- Display the feedback

In [5]:
def get_com_num():
    from random import randint
    computer_pick = randint(1,100)
    return computer_pick
def player_guess():
    player_pick = int (input ("Enter your number: "))
    return player_pick
def check_guess(computer_pick, player_pick):
    if player_pick < computer_pick:
        result = "Your number is low. Enter higher."
    elif player_pick > computer_pick:
        result = "Your number is high. Enter lower."
    else:
        result = "Bingo"
    return result

def display_feedback(result):
    if result == "Bingo":
        feedback = print ("Congratulations! You got the number.")
    else:
        feedback = print ("Sorry!! The number is", get_com_num())
        return feedback


def main():
    computer_pick = get_com_num()
    player_pick = player_guess()
    result = check_guess(computer_pick,player_pick)
    display_feedback(result)
main()

Sorry!! The number is 54

In [ ]:
def get_user_num():
    pass
def player_guess(guess):
    pass
def check_guess():
    pass
def display_feedback():
    pass

Common Error 1: Missing or Incorrect Arguments

In [ ]:
def calculate_sum(a,b):
    result = a + b
    return result

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Common Error 2: Forgetting the return statement

In [68]:
def calculate_sum(a,b):
    result = a + b

num1 = 10
num2 = 20
print(calculate_sum(num1,num2))

None

Common Error 3: Copy & Paste Error

In [69]:
def celsius_to_fahrenheit(celsius):
    temperature = (9.0/5.0) * celsius
    fahrenheit = temperature + 32
    return fahrenheit

In [71]:
def celsius_to_fahrenheit(fahrenheit):
     temperature = fahrenheit-32
     celsius = temperature * (5.0/9.0)
     return fahrenheit  # forget to chnage the return statement, the return value should be celsius

Common Error 4: Incorrect Indentation

In [72]:
def calculate_sum(numbers):
    total = 0
    for num in numbers:
        total += num
        return total # the return state is inside the for loop, not outside the for loop, so the program will stop after looping one time
my_list = [10,20,30]
print(calculate_sum(my_list))

10

Common Error 5: using built-in names

In [76]:
"""def print(message):
    name = "Program Design - III"
    return name
class_name = "CS112/BTOS112"
print(f"Welcome to {class_name}")"""

'def print(message):\n    name = "Program Design - III"\n    return name\nclass_name = "CS112/BTOS112"\nprint(f"Welcome to {class_name}")'

In [74]:
def calculate_total(numbers):
    total = sum(numbers)
    return total

my_list = [10,20,30]
calculate_total(my_list)
print(total)

NameError: name 'total' is not defined

Print statement can be used to debug those errors|

In [1]:
def calculate_sum(numbers):
    total = 0
    for num in numbers:
        total += num
        print (f"number is {num}")
        print (f"total inside the loop is {total}")
        return total
my_list = [10,20,30]
print(calculate_sum(my_list))

number is 10
total inside the loop is 10
10

In [2]:
#Documentation - Docstring
def elective_sub_grade(mark):
    threshold= 40
    """ 
    elective_sub_grade return the grade of the student for the given mark
    Args:
    mark (float) : float number (mark is out of 20)
    Return:
    grade(bool) : Grade Pass (True) or Fail (False) is returned based on the threashold
    """
    mark = mark * 5
    return (mark>threshold)

Write a function called primes that is given a number n and returns a list of the first n primes. Let the default value of n be 100.

In [ ]:
def is_prime(x):
    if x < 2:
        return False
    for i in range(2, x):
        if x % i == 0:
            return False
    return True


def primes(n=100):
    result = []
    num = 2

    while len(result) < n:
        if is_prime(num):
            result.append(num)
        num += 1

    return result


Modify the function above so that there is an optional argument called start that allows the list to start at a value other than 2. The function should return the first n primes that are greater than or equal to start. The default value of start should be 2.

In [2]:
def is_prime(x):
    if x < 2:
        return False
    for i in range(2, x):
        if x % i == 0:
            return False
    return True


def primes(n=100, start = 2):
    result = []
    num = start

    while len(result) < n:
        if is_prime(num):
            result.append(num)
        num += 1

    return result
primes(n=20,start=5)

[5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79]

Our number system is called base 10 because we have ten digits: 0, 1, â€¦, 9. Some cultures, including the Mayans and Celts, used a base 20 system. In one version of this system, the 20 digits are represented by the letters A through T. Here is a table showing a few conversions:
10	20	10	20	10	20	10	20
0	A	8	I	16	Q	39	BT
1	B	9	J	17	R	40	CA
2	C	10	K	18	S	41	CB
3	D	11	L	19	T	60	DA
4	E	12	M	20	BA	399	TT
5	F	13	N	21	BB	400	BAA
6	G	14	O	22	BC	401	BAB
7	H	15	P	23	BD	402	BAC
Write a function called base20 that converts a base 10 number to base 20. It should return the result as a string of base 20 digits. One way to convert is to find the remainder when the number is divided by 20, then divide the number by 20, and repeat the process until the number is 0. The remainders are the base 20 digits in reverse order, though you have to convert them into their letter equivalents.

In [8]:
def base20(num):
    #digits for base 20
    digits = "ABCDEFGHIJKLMNOPQRST"

    result = ""
    if num == 0:
        return "A"
    while num>0:
        remainder = num%20       #it will give the first digit of base 20, this step we takes the value of remainder
        result = digits[remainder] + result
        num//= 20          # this step, we takes value of the integer division
    return result

base20(1976)

'ESQ'

Write a function called verbose that, given an integer less than 1015, returns the name of the integer in English. As an example, verbose(123456) should return one hundred twenty-three thousand, four hundred fifty-six.

In [12]:
for i in range(9800,10001):
    s = str(i)
    if s==s[::-1]:
        print(s)

9889
9999

In [15]:
birthday = 'January 1, 1998'
year = int(birthday[-4:])
print('You are', 2020-year, 'years old.')

You are 22 years old.

In [5]:
digit = str(335)
answer = int(digit[0]) + int(digit[1])
print(answer)

6

In [2]:
digit = str(87698)
answer = 0
for i in range(len(digit)):
    answer = answer + int(digit[i])
print(answer)

38

In [4]:
digit = str(98237645)
answer = 4567
for i in range(len(digit)):
    answer = answer + int(digit[i])
print(answer)

4611

In [12]:
L = [1,2,3,2]
print(L)
if 2 in L:
    print('Your list contains the number 2.')
if 0 not in L:
    print('Your list has no zeroes.')
L[0]
L[:3]
L.index(1)
L.count(2)

[1, 2, 3, 2]
Your list contains the number 2.
Your list has no zeroes.

2

In [28]:
A = ['a', 'c', 'd', 'b']
len(A)
max(A)
A.append('k')
A.sort()
A.reverse()
A

['k', 'd', 'c', 'b', 'a']

name = "ChanMraThandar"
name.index('Mr')

In [29]:
print(x)   # NameError
x = 10

NameError: name 'x' is not defined

In [30]:
x = 5

def test():
    print(x)   # UnboundLocalError
    x = 10     # Python thinks x is local because you assign it here

test()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [31]:
count = 0

def add():
    count += 1    # UnboundLocalError
    print(count)

add()

UnboundLocalError: cannot access local variable 'count' where it is not associated with a value

In [32]:
count = 0
def add():
    global count
    count += 1

In [33]:
def func():
    y = 10

func()
print(y)   # NameError: y is not defined

NameError: name 'y' is not defined

In [41]:
def outer():
    def inner():
        z = 5
        return z
    inner()
outer()  # NameError

In [45]:
def outer():
    def inner():
        print("I help outer!")

    print("Outer is running")
    inner()      # call the helper function
outer()

Outer is running
I help outer!

In [47]:
def calculate():
    def add(a, b):
        return a + b

    def square(x):
        return x * x

    return square(add(2, 3))
calculate()

25

In [51]:
def outer():
    def inner():
        x = 10
        print("Inner:", x)

    inner()   # This is how you use inner
outer()

Inner: 10

In [55]:
def make_multiplier(n):
    def inner(x):
        return x * n
    return inner

times3 = make_multiplier(3)  # n = 3
print(times3(10))  # inner(10) â†’ 30

30

In [56]:
def outer(x):
    def inner(y):
        return x + y
    return inner
add5 = outer(5)   # x = 5 is stored inside the closure
result = add5(3)  # y = 3 goes to inner()
print(result)

8

In [9]:
def calculate_sum(numbers):
    total = 0
    for num in numbers:
        total+=num
        #print(f"Number is {num}")
    print(f"total inside the loop is {total}")
    return total
calculate_sum([3,4,5])

total inside the loop is 12

12

In [3]:
def calculate_sum(a,b):
    result = a+b
    return result
num1 = 10
num2 = "20"
print(calculate_sum(num1,num2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Lambda Function

In [6]:
def value_square(value):
    return value ** 2
value_square(5)
lvalue_square = lambda value: value**2
lvalue_square(10)

100

In [8]:
def echo_words(times, name):
    return times * name
echo_words(5,'chan')

'chanchanchanchanchan'

In [9]:
echo_words = lambda echo, word: echo*word
echo_words(10,'Thordar')

'ThordarThordarThordarThordarThordarThordarThordarThordarThordarThordar'

We use lambda functions by combining with other functions

In [10]:
names = ['Richard', 'Karam', 'Sunny', 'Jeff', 'Barcode']
names_upper = [*map(str.upper, names)]
print(names_upper)

['RICHARD', 'KARAM', 'SUNNY', 'JEFF', 'BARCODE']

In [11]:
shout_name = lambda name: name + '!'
names = ['Richard', 'Karam', 'Sunny', 'Jeff', 'Barcode']
names_shout = [*map(shout_name, names)]
print(names_shout)

['Richard!', 'Karam!', 'Sunny!', 'Jeff!', 'Barcode!']

In [12]:

names = ['Richard', 'Karam', 'Sunny', 'Jeff', 'Barcode']
names_shout = [*map(lambda name: name + '!', names)]
print(names_shout)

['Richard!', 'Karam!', 'Sunny!', 'Jeff!', 'Barcode!']

In [13]:

names = ['Richard', 'Karam', 'Sunny', 'Jeff', 'Barcode']
name_long = [*filter(lambda name: len(name)>5, names)]
print(name_long)

['Richard', 'Barcode']

lambda function with condition

In [14]:
lam_condition = lambda name: (name.upper() if len(name) > 5 else name.lower())
names_map_cond = [*map(lam_condition, names)]
names_map_cond

['RICHARD', 'karam', 'sunny', 'jeff', 'BARCODE']

In [19]:
import datetime
age_calculator = lambda year: datetime.datetime.now().year-year
age_calculator(1998)

27

Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost

Practice the Mid-term exam questions

In [1]:
my_string = "123"
result = int(my_string)
print(result+1)

124

In [ ]:
given_string = "CMPT 100 - Intro to Computer Science"
idx = 0
while idx< len(given_string):
    print(given_string[idx])
    idx+=1

In [3]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1 & set2)

{3}

In [26]:
my_set = {"name", "Age", "Height", 32, 5, 5}
my_set.add("Chan Mra")
my_set.remove(5)
#print(my_set)
#"Chan Mra" in my_set
my_set1 = {"Name", "name"}
#my_set.intersection(my_set1)
#print(my_set & my_set1)
#my_set.union(my_set1)
#my_set.difference(my_set1)
#my_set1.difference(my_set)
my_set.issubset(my_set1)

False

In [29]:
x = 5
y = 5
print (x==y)

True

In [32]:
my_dict = {'apple':2, 'banana':3, 'orange':4}
del my_dict['apple']
my_dict

{'banana': 3, 'orange': 4}

In [33]:
print(int(10//3))

3

In [34]:
i = 1
while i <= 5:
    i+=1
print(i)

6

In [35]:
numbers = [1,2,3,4,5]
squared_numbers = [num**2 for num in numbers]
even_squared_numbers = [num for num in squared_numbers if num%2==0]
even_squared_numbers

[4, 16]

In [36]:
list1 = [1,2,3]
list2 = list1
list2[0] = 100
print(list1[0])

100

In [37]:
list1 = [1,2,3]
list2 = list1.copy()
list2[0] = 100
print(list1[0])

1

In [38]:
my_list = ['a', 'b', 'c', 'd', 'e']
result = my_list[1:4] + [3,4]
print(result)

['b', 'c', 'd', 3, 4]

In [39]:
my_tuple = (1,2,3,4,5)
print(my_tuple[3])

4

In [47]:

score = float(input("Enter a score of students. To end data entry, enter negative value:"))
score_list = []
num_As = 0
while(score>=0):
    score = float(input("Enter a score of students. To end data entry, enter negative value:"))
    score_list.append(score)
    if(score>=90):
        num_As = num_As + 1
print(score_list)
print(num_As)
avg_score = sum(score_list)/len(score_list)
avg_score

[87.0, 87.0, 84.0, 100.0, 100.0, 67.0, -1.0]
2

74.85714285714286

In [49]:

list_int = [1, 1, 1, 0, 1, 1, 1]
first_zero = list_int.index(0)
print(list_int.index(0))
if(first_zero>=0):
    list_int[first_zero]=1
else:
    print('There are no zero entries')

3

In [50]:
for i in range(3):
    print(i)
else:
    print("Else block executed")

0
1
2
Else block executed

In [51]:
my_string = "Hello, World!"
print(my_string[3:7])

lo,

In [52]:
my_string = "Hello"
my_list = ['W', 'o', 'r', 'l', 'd']
result = my_string[1] + my_list[2:]
print(result)

TypeError: can only concatenate str (not "list") to str

In [54]:
my_string = ['H','L']
my_list = ['W', 'O']
result = my_string[1] + my_list[2:]
print(result)

TypeError: can only concatenate str (not "list") to str

In [1]:
x = 5
if x > 10:
    print("x is greater than 3")
elif x == 3 and x<10:
    print("x is equal to 3")
else:
    print("x is less than 3")

x is less than 3

In [2]:
def value_square(value):
    return value ** 2

In [4]:
value_square = lambda value: value**2
value_square(999)

998001

In [5]:
def echo_words(times,name):
    return times * name
echo_words(5,'myo')

'myomyomyomyomyo'

In [6]:
echo_words = lambda echo, word: echo*word
echo_words(12,"Trust")

'TrustTrustTrustTrustTrustTrustTrustTrustTrustTrustTrustTrust'

In [9]:
pretty_baby = lambda pretty,name : pretty*name
pretty_baby (pretty = 5, name = "PrettyMe")

'PrettyMePrettyMePrettyMePrettyMePrettyMe'

In [10]:
names = ['Richard', 'Jeff', 'Bam Bam', 'Violet', 'Nont']
names_upper = [*map(str.upper,names)]
print (names_upper)

['RICHARD', 'JEFF', 'BAM BAM', 'VIOLET', 'NONT']

In [11]:
shout_name = lambda name: name + '!'
names = ['Richard', 'Jeff', 'Bam Bam', 'Violet', 'Nont']
names_shout = [*map(shout_name,names)]
print(names_shout)

['Richard!', 'Jeff!', 'Bam Bam!', 'Violet!', 'Nont!']

In [12]:
names = ['Tatmadaw','Police', 'PDF/NUG', 'EAO', 'Other Groups']
actor_name = lambda name : name + '(Actor)'
name_actor = [*map(actor_name,names)]
print(name_actor)

['Tatmadaw(Actor)', 'Police(Actor)', 'PDF/NUG(Actor)', 'EAO(Actor)', 'Other Groups(Actor)']

In [13]:
names = ['Administrators', 'Civil Servants', 'Civilian', 'Monks or Religious Personnel', 'USDP Member', 'NLD Member', 'Other Political Parties']
name_target = lambda name: name + '(Target)'
name_type = [*map(name_target,names)]
print(name_type)

['Administrators(Target)', 'Civil Servants(Target)', 'Civilian(Target)', 'Monks or Religious Personnel(Target)', 'USDP Member(Target)', 'NLD Member(Target)', 'Other Political Parties(Target)']

In [14]:
names = ['Administrators', 'Civil Servants', 'Civilian', 'Monks or Religious Personnel', 'USDP Member', 'NLD Member', 'Other Political Parties']
names_type = [*map(lambda name : name + "(Target)",names)]
print(names_type)

['Administrators(Target)', 'Civil Servants(Target)', 'Civilian(Target)', 'Monks or Religious Personnel(Target)', 'USDP Member(Target)', 'NLD Member(Target)', 'Other Political Parties(Target)']

In [15]:
names = ['Richard', 'Jeff', 'Bam Bam', 'Violet', 'Nont']
long_name = [*filter(lambda name: len(name)>6,names)]
print(long_name)

['Richard', 'Bam Bam']

In [16]:
lam_condition = lambda name: (name.upper() if len(name)>5 else name.lower())
names_map_cond = [*map(lam_condition,names)]
names_map_cond

['RICHARD', 'jeff', 'BAM BAM', 'VIOLET', 'nont']

In [17]:
import datetime
age_calculator = lambda year: datetime.datetime.now().year - year
age_calculator (1981)

44

In [18]:
cost_price = lambda cost : cost + cost * 15/100
cost_price (160)

184.0

Write a lambda function that takes two strings 'name', 'domain' and returns an email address(string)

In [19]:
email = lambda name,domain : name + '@' + domain + '.com'
email('cmrathandar','gmail')

'cmrathandar@gmail.com'

In [20]:
email = lambda name,domain : name + '@' + domain + '.org'
email('chanmrathandar','mips-mm')

'chanmrathandar@mips-mm.org'

For the given name list, write a python program that converts each name into email address. The domain is given as email.

In [23]:
names = ['Richard', 'Jeff', 'Bam Bam', 'Violet', 'Nont']
email = [*map(lambda name: name + '@' + 'gmail' + '.com',names)]
email

['Richard@gmail.com',
 'Jeff@gmail.com',
 'Bam Bam@gmail.com',
 'Violet@gmail.com',
 'Nont@gmail.com']

In [24]:
def lam_condition(name):
    if len(name) > 5:
        return name.upper()
    else:
        return name.lower()

In [28]:
names = ['Richard', 'Jeff', 'Bam Bam', 'Violet', 'Nont']
lam_condition = [*map(lambda name: (name.upper() if len(name)> 6 else name.lower()),names)]
lam_condition

['RICHARD', 'jeff', 'BAM BAM', 'violet', 'nont']

In [30]:
def neg_square(number):
    if (number < 0):
        return number * number
    else:
        return number

In [32]:
neg_square = lambda number : number * number if number<0 else number
neg_square(-9)

81

In [ ]:
df['size'] = df['bathrooms'].apply(lambda x:'large'if x > 3 else 'small')

price <=150 economy, price>150 premium

In [1]:
df['class'] = df['price'].apply(lambda x: 'economy' if price <= 150 else 'premium')

NameError: name 'df' is not defined

Write a function called verbose that, given an integer less than 10**15, returns the name of the integer in English. As an example, verbose(123456) should return one hundred twenty-three thousand, four hundred fifty-six

In [2]:
def verbose(n):
    """
    Convert an integer less than 10^15 to its English name.
    
    Args:
        n: Integer less than 10^15
        
    Returns:
        String representation of the number in English
    """
    if n == 0:
        return "zero"
    
    # Words for numbers
    ones = ["", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    teens = ["ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", 
             "sixteen", "seventeen", "eighteen", "nineteen"]
    tens = ["", "", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]
    
    def convert_hundreds(num):
        """Convert a number less than 1000 to words."""
        result = []
        
        # Hundreds place
        hundreds_digit = num // 100
        if hundreds_digit > 0:
            result.append(ones[hundreds_digit])
            result.append("hundred")
        
        # Tens and ones place
        remainder = num % 100
        if remainder >= 20:
            tens_digit = remainder // 10
            ones_digit = remainder % 10
            result.append(tens[tens_digit])
            if ones_digit > 0:
                result.append(ones[ones_digit])
        elif remainder >= 10:
            result.append(teens[remainder - 10])
        elif remainder > 0:
            result.append(ones[remainder])
        
        return result
    
    # Scale words for groups of three digits
    scales = ["", "thousand", "million", "billion", "trillion"]
    
    # Break number into groups of three digits
    groups = []
    temp = n
    while temp > 0:
        groups.append(temp % 1000)
        temp //= 1000
    
    # Convert each group and combine with scale words
    result = []
    for i in range(len(groups) - 1, -1, -1):
        if groups[i] > 0:
            group_words = convert_hundreds(groups[i])
            result.extend(group_words)
            if i > 0:
                result.append(scales[i] + ",")
    
    return " ".join(result)


# Test cases
print(verbose(123456))  # one hundred twenty-three thousand, four hundred fifty-six
print(verbose(0))       # zero
print(verbose(7))       # seven
print(verbose(42))      # forty-two
print(verbose(100))     # one hundred
print(verbose(1000))    # one thousand
print(verbose(1001))    # one thousand, one
print(verbose(999999999999999))  # Maximum value test

one hundred twenty three thousand, four hundred fifty six
zero
seven
forty two
one hundred
one thousand,
one thousand, one
nine hundred ninety nine trillion, nine hundred ninety nine billion, nine hundred ninety nine million, nine hundred ninety nine thousand, nine hundred ninety nine

Write a function called merge that takes two already sorted lists of possibly different lengths, and merges them into a single sorted list.
Do this using the sort method.
Do this without using the sort method

In [4]:
def merge(firstlist,secondlist):
    firstlist.sort()
    secondlist.sort()
    combinedlist = firstlist + secondlist
    combinedlist.sort()
    return combinedlist
merge([7, 2, 9, 4, 1],[12, 3, 7, 1, 9, 14, 2, 6])

[1, 1, 2, 2, 3, 4, 6, 7, 7, 9, 9, 12, 14]

In [3]:
def merge(firstlist,secondlist):
    combinedlist = firstlist + secondlist
    sortedlist = []
    while combinedlist:
        smallest = min(combinedlist)
        sortedlist.append(smallest)
        combinedlist.remove(smallest)
        #print(combinedlist)
        #print(sortedlist)
    return sortedlist
   
merge([7, 2, 9, 4, 1],[12, 3, 7, 1, 9, 14, 2, 6])

[1, 1, 2, 2, 3, 4, 6, 7, 7, 9, 9, 12, 14]

#Dictionary exercise
Write a program that repeatedly asks the user to enter product names and prices. Store all of these in a dictionary whose keys are the product names and whose values are the prices. When the user is done entering products and prices, allow them to repeatedly enter a product name and print the corresponding price or a message if the product is not in the dictionary.
Using the dictionary created in the previous problem, allow the user to enter a dollar amount and print out all the products whose price is less than that amount.

In [8]:
products = {}
price_list = []
while True:
    name = input("Enter product name (or 'done' to stop): ").strip()
    if name.lower() == "done":
        break
    
    price_input = input(f"Enter price for '{name}': ")
    
    # Convert price to float
    try:
        price = float(price_input)
    except ValueError:
        print("Invalid price. Try again.")
        continue
    
    products[name] = price
    price_list.append(price)

    print(f"Added: {name} â†’ {price}")

print("\nProduct entry completed.\n")
print(products)

#looking up the price
while True:
    name = input("Look up product (or 'quit'): ")
    if name == "quit":
        break
    if name in products:
        print("Price:", products[name])
    else:
        print("Not found")

# products dictionary already created earlier

amount = float(input("Enter a dollar amount: "))

print("Products cheaper than", amount, ":")

found = False
for name, price in products.items():
    if price < amount:
        print(name, "â†’", price)
        found = True

if not found:
    print("No products are cheaper than that amount.")

Product entry completed.

{}
Products cheaper than 0.0 :
No products are cheaper than that amount.

For this problem, use the dictionary from the beginning of this chapter whose keys are month names and whose values are the number of days in the corresponding months.
Ask the user to enter a month name and use the dictionary to tell them how many days are in the month.

Print out all of the keys in alphabetical order.

Print out all of the months with 31 days.

Print out the (key-value) pairs sorted by the number of days in each month

Modify the program from part (a) and the dictionary so that the user does not have to know how to spell the month name exactly. That is, all they have to do is spell the first three letters of the month name correctly.

In [11]:
days = {'January':31, 'February':28, 'March':31, 'April':30,
        'May':31, 'June':30, 'July':31, 'August':31,
        'September':30, 'October':31, 'November':30, 'December':31}
for key in sorted(days):
    print(key)

April
August
December
February
January
July
June
March
May
November
October
September

In [10]:
days = {'January':31, 'February':28, 'March':31, 'April':30,
        'May':31, 'June':30, 'July':31, 'August':31,
        'September':30, 'October':31, 'November':30, 'December':31}
for month,days in days.items():
    if days == 31:
        print(month)

January
March
May
July
August
October
December

In [12]:
days = {'January':31, 'February':28, 'March':31, 'April':30,
        'May':31, 'June':30, 'July':31, 'August':31,
        'September':30, 'October':31, 'November':30, 'December':31}
for month, days in sorted(days.items(), key = lambda item : item[1]):
    print(month,days)

February 28
April 30
June 30
September 30
November 30
January 31
March 31
May 31
July 31
August 31
October 31
December 31

In [16]:
days = {'January':31, 'February':28, 'March':31, 'April':30,
        'May':31, 'June':30, 'July':31, 'August':31,
        'September':30, 'October':31, 'November':30, 'December':31}
user = input("Enter month (first 3 letters): ").lower()

for month, value in days.items():
    if month.lower().startswith(user):
        print(value)
        break
else:
    print("Month not found")

30

List Comprehension

In [2]:
old_list = [2,4,6,7,9]
new_list = []
for value in old_list:
    new_value = value**2
    new_list.append(new_value)
new_list

[4, 16, 36, 49, 81]

In [3]:
old_list = [2,4,6,7,9]
new_list = [value*value for value in old_list]
new_list

[4, 16, 36, 49, 81]

List Comprehension Example 2
Find the square for the values from 0 to 10

In [4]:
square_value = [value**2 for value in range(11)]
square_value

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Example: Extract the first character of each name from the list
name_list = ['ivory', 'jelson', 'satur']
name_first_ch = [name[0].upper() for name in name_list]
name_first_ch

['I', 'J', 'S']

Given a list L that contains numbers between 1 and 10, create a new list that returns 2 times of the values

In [ ]:
#Given a list L that contains numbers between 1 and 10, create a new list that returns 2 times of the values
two_times = [value*2 for value in range(1,11)]
two_times

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Given a nested list L = [[1,2],[5,6],[8,10]], flips the order of elements in the list.

In [ ]:
#Given a nested list L = [[1,2],[5,6],[8,10]], flips the order of elements in the list.
L = [[1,2],[5,6],[8,10]]
flip_list = [[y,x] for x,y in L]
flip_list

[[2, 1], [6, 5], [10, 8]]

list L = [12, 14, 28, 33, 37, 45, 49, 54, 59, 67, 73, 82, 88, 91, 96]: Use  comprehension to produce a list of gaps between consecutive entries in L

In [12]:
L = [12, 14, 28, 33, 37, 45, 49, 54, 59, 67, 73, 82, 88, 91, 96]
new_list = [L[idx+1] - L[idx] for idx in range(len(L)-1)]
new_list

[2, 14, 5, 4, 8, 4, 5, 5, 8, 6, 9, 6, 3, 5]

In [15]:
L = [12, 14, 28, 33, 37, 45, 49, 54, 59, 67, 73, 82, 88, 91, 96]
new_list = [ L[x+1] - L[x] for x,y in enumerate(L[:-1])]
new_list

[2, 14, 5, 4, 8, 4, 5, 5, 8, 6, 9, 6, 3, 5]

In [2]:
K = [-12, 7, -3, 25, -19, 14, -8, 30, -5, 11]
K_square = []
for value in K:
    if value < 0:
        K2 = value ** 2
        K_square.append(K2)
print(K_square)

[144, 9, 361, 64, 25]

In [3]:
K = [-12, 7, -3, 25, -19, 14, -8, 30, -5, 11]
K_square = [value ** 2 for value in K if value<0]
print(K_square)

[144, 9, 361, 64, 25]

Write a python program to extract the passwords that are valid (password must have 8 numeric characters to be valid)

In [6]:
passwords = [
    "f9TqL2",
    "A7p!kR4z",
    "mQ2x8",
    "Tr8@Wb91F",
    "zR3!tB",
    "Hq7%Lp92sM",
    "wX4$eQ",
    "dR9!kT6uY",
    "P7v#Lq",
    "Sb2@Qp84Zr"
]
valid_pw = [pw for pw in passwords if len(pw)==8]
valid_pw

['A7p!kR4z']

In [7]:
#Count the number of elements that are greater than 50
numbers = [12, 47, 83, 5, 66, 29, 54, 3, 78, 42, 99, 14, 51, 7, 68]
valid_num = [num for num in numbers if num > 50]
valid_num

[83, 66, 54, 78, 99, 51, 68]

Use a list of comprehension to produce a list that consists of all palindromic numbers

In [15]:
num_list = list(range(100,200))
palindromic_num = [num for num in num_list if str(num)==str(num)[::-1]]
palindromic_num

[101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

In [23]:
string = 'Hello'
L = [1,14,5,9,12]
M = ['one', 'two', 'three', 'four', 'five', 'six']
list1 = [0 for i in range(10)]
#list1
list2 = [i**2 for i in range(1,8)]
#list2
list3 = [i*10 for i in L]
#list3
list3 = [i*2 for i in string]
#list3
list4 = [value[1] for value in M]
#list4
list5 = [i for i in L if i>5]
#list5
list6 = [m[0] for m in M if len(m)==3]
list6

['o', 't', 's']

In [ ]:
##ask in the class
listi = [[i,j] for i in range(4) for j in range(i)]
listi

[[1, 0], [2, 0], [2, 1], [3, 0], [3, 1], [3, 2]]

In [25]:
for i in range(2):        # Outer loop
    for j in range(3):    # Inner loop
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [26]:
for row in range(3):
    for col in range(4):
        print("(", row, col, ")")

( 0 0 )
( 0 1 )
( 0 2 )
( 0 3 )
( 1 0 )
( 1 1 )
( 1 2 )
( 1 3 )
( 2 0 )
( 2 1 )
( 2 2 )
( 2 3 )

Write a program that asks the user to enter some text and then counts how many articles are in the text. Articles are the words 'a', 'an', and 'the'.

In [ ]:
user_text = input ("Enter the text: ")
user_text = user_text.lower().split()
articles = ['a', 'an', 'the']
count = 0
for i in user_text:
    if i in articles:
        count+=1
print(count)
print(user_text)

3
['you', 'are', 'a', 'beautiful', 'person']


Write a program that allows the user to enter five numbers (read as strings). Create a string that consists of the user's numbers separated by plus signs. For instance, if the user enters 2, 5, 11, 33, and 55, then the string should be '2+5+11+33+55'.

In [8]:
nums = []
for i in range(5):
    num_list = input("Enter the number:")
    nums.append(num_list)
print(nums)
num_plus = '+'.join(str(n) for n in nums)
print(num_plus)

['1', '2', '3', '4', '5']
1+2+3+4+5

In [17]:
from random import choice
alphabet = 'abcdefghijklmnopqrstuvwxyz'
s = ','.join([choice(alphabet) for i in range(10)])
s

'r,e,p,f,k,c,g,c,e,p'

In [18]:
your_input = []
your_input = input("Enter the sentence: ")
your_input = your_input.lower().split(" ")
print(your_input)
third_word = your_input[2]
third_word

['the', 'world', 'is', 'round']

'is'

In [29]:
from random import choice
s='abcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()'
for i in range(10):
    print(choice(s), end= '+')

g+b+p+n+z+b+#+j+m+0+

In [31]:
from random import choice
singers = ['Jeff', 'Ink', 'Slot Machine', 'Henry','Hwasa']
current_fav_singer = choice(singers)
current_fav_singer

'Henry'

In [2]:
from random import sample
names = ['Joe', 'Bob', 'Sue', 'Sally']
team = sample(names, 2)
team

['Sally', 'Joe']

In [3]:
from random import shuffle
players = ['Joe', 'Bob', 'Sue', 'Sally']
shuffle(players)
for p in players:
    print(p, 'it is your turn.')

Sue it is your turn.
Sally it is your turn.
Bob it is your turn.
Joe it is your turn.

In [9]:
from random import shuffle
thai_names = [
    ("Jirayu Tangsrisuk", "James"),
    ("Sukrit Wisetkaew", "Bie"),
    ("Sukollawat Kanaros", "Weir"),
    ("Vachirawit Chivaaree", "Bright"),
    ("Tawan Vihokratana", "Tay"),

    # Five current pop singers
    ("Jeff Satur", "Jeff"),
    ("Billkin Putthipong Assaratanakul", "Billkin"),
    ("PP Krit Amnuaydechkorn", "PP"),
    ("Fourth Nattawat Jirochtikul", "Fourth"),
    ("Gemini Norawit Titicharoenrak", "Gemini")
]
shuffle(thai_names)
teams = []
for i in range(0,len(thai_names),2):
    teams.append([thai_names[i], thai_names[i+1]])
print(teams)

[[('Sukollawat Kanaros', 'Weir'), ('Jirayu Tangsrisuk', 'James')], [('Sukrit Wisetkaew', 'Bie'), ('Tawan Vihokratana', 'Tay')], [('Fourth Nattawat Jirochtikul', 'Fourth'), ('Vachirawit Chivaaree', 'Bright')], [('PP Krit Amnuaydechkorn', 'PP'), ('Gemini Norawit Titicharoenrak', 'Gemini')], [('Jeff Satur', 'Jeff'), ('Billkin Putthipong Assaratanakul', 'Billkin')]]

In [10]:
s = 'I am going to make it big next year.'
print(s.split())

['I', 'am', 'going', 'to', 'make', 'it', 'big', 'next', 'year.']

In [11]:
L = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for r in range(10):
    for c in range(5):
        print(L[r][c], end=" ")
    print()

1 2 3

IndexError: list index out of range

Here is an example that counts how many entries in a 10 Ã— 5 list are even.

In [27]:
L = [
    [12, 45, 78, 23, 56],
    [89, 14, 67, 33, 90],
    [21, 52, 73, 84, 15],
    [66, 17, 38, 49, 20],
    [91, 32, 53, 74, 25],
    [46, 57, 18, 69, 80],
    [13, 64, 75, 26, 47],
    [58, 29, 40, 71, 92],
    [34, 55, 16, 87, 28],
    [99, 24, 63, 35, 50]
]
count = 0
for r in range(10):
    for c in range(5):
        if L[r][c] % 2 == 0:
            count+=1
print(count)

count_even = sum([1 for num in range(10) for cnum in range(5) if L[num][cnum]%2==0])
#count_even
P = [L[i][3] for i in range(len(L))]
P

25

[23, 33, 84, 49, 74, 69, 26, 71, 87, 35]

In [28]:
L = [[1,2,3],
     [4,5,6],
     [7,8,9]]
flatten = [j for row in L for j in row]
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Write a program that asks the user to enter a sentence and then randomly rearranges the words of the sentence. Don't worry about getting punctuation or capitalization correct.
Do the above problem, but now make sure that the sentence starts with a capital, that the original first word is not capitalized if it comes in the middle of the sentence, and that the period is in the right place.

In [36]:
import random

# Ask the user for a sentence
sentence = input("Enter a sentence: ")

# Split the sentence into words
words = sentence.split()

# Shuffle the words randomly
random.shuffle(words)

# Join the words back into a sentence
shuffled_sentence = " ".join(words)

# Print the result
print("Rearranged sentence:")
print(shuffled_sentence)

Rearranged sentence:
bright clever extremely working you and and also are hard!!!

In [2]:
def value_square(value):
    return value**2
value_square(10)

100

In [4]:
value_square = lambda value: value**2
value_square(55)

3025

In [12]:
def echo_words (times, name):
    return  name * times
echo_words(name = "Pont",times = 5)

'PontPontPontPontPont'

In [14]:
echo_words = lambda echo, word: echo * word
echo_words (echo=10,word ="Protein Stick ")

'Protein Stick Protein Stick Protein Stick Protein Stick Protein Stick Protein Stick Protein Stick Protein Stick Protein Stick Protein Stick '

In [16]:
def lam_condition(name):
    if len(name) > 5:
        return name.upper()
    else:
        return name.lower()
lam_condition("Chan Mra Thandar")

'CHAN MRA THANDAR'

In [19]:
name_cond = lambda name: name.upper() if len(name)>5 else name.lower()
name_cond("Chan Mra Thandar")

'CHAN MRA THANDAR'

In [21]:
def neg_square(number):
    if (number<0):
        return number ** 2
    else:
        return number
neg_square(-101)

10201

In [23]:
neg_square = lambda num : num * num if num < 0 else num 
neg_square(99)

99

In [ ]:
df['size'] = df['bathrooms'].apply(lambda x: 'large' if x>3 else 'small')

In [ ]:
df['class'] = df['price'].apply(lambda x: 'premium' if x > 150 else 'economy')

In [24]:
old_list = [10,5,12,13,17,98,23,46,74]
new_list = []
for value in old_list:
    new_value = value**2
    new_list.append(new_value)
print(new_list)

[100, 25, 144, 169, 289, 9604, 529, 2116, 5476]

In [26]:
old_list = [10,5,12,13,17,98,23,46,74]
new_list = [value * value for value in old_list]
new_list

[100, 25, 144, 169, 289, 9604, 529, 2116, 5476]

Find the tube values from range 9

In [30]:

tube_num = [value **3 for value in range(9)]
tube_num

[0, 1, 8, 27, 64, 125, 216, 343, 512]

In [36]:
name_list = ['jeff', 'mile', 'pluto','potato', 'slot machine']
name_capital = [name.split()[0].capitalize() for name in name_list]
name_capital

['Jeff', 'Mile', 'Pluto', 'Potato', 'Slot']

In [38]:
L = [[1,2],[5,6],[9,10]]
flip_list = [[y,x] for x,y in L]
flip_list

[[2, 1], [6, 5], [10, 9]]

list L = [12, 14, 28, 33, 37, 45, 49, 54, 59, 67, 73, 82, 88, 91, 96]: Use  comprehension to produce a list of gaps between consecutive entries in L

In [43]:
L = [12, 14, 28, 33, 37, 45, 49, 54, 59, 67, 73, 82, 88, 91, 96]
gap = [L[idx+1] - L[idx] for idx in range(len(L)-1)]
gap

[2, 14, 5, 4, 8, 4, 5, 5, 8, 6, 9, 6, 3, 5]

In [44]:
L = [12, 14, 28, -33, 37, -45, 49, 54, 59, 67, 73, -82, 88, 91, 96]
new_list = [value **2 for value in L if value<0]
new_list

[1089, 2025, 6724]

In [48]:
pw_list = [
    "T9f!2qLpZ7@c",
    "gR4#pV8m!Q2t",
    "Xy7@Lm3$wK9d",
    "bF6%qT1*zR8h",
    "W3r!S8v#nP5k",
    "pD9$kE4!tM7q",
    "Zs2@hL6%Qw9j",
    "mK8#dR5!xY3p",
    "J4c!V9b$T2r",
    "qH7%N1x!L5z"
]
pw_valid_list = [pw for pw in pw_list if len(pw)==11]
pw_valid_list

['J4c!V9b$T2r', 'qH7%N1x!L5z']

In [51]:
L = [12, 14, 28, -33, 37, -45, 49, 54, 59, 67, 73, -82, 88, 91, 96]
greater_than_50 = [1 for num in L if num >50]
sum(greater_than_50)

7

Use a list of comprehension to produce a list that consists of all palindromic numbers between 100 and 1000

In [54]:
palindromic = [num for num in range (100,1000) if str(num)[0]+str(num)[1]+ str(num)[2]== str(num)[2]+str(num)[1]+str(num)[0]]
palindromic

[101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191,
 202,
 212,
 222,
 232,
 242,
 252,
 262,
 272,
 282,
 292,
 303,
 313,
 323,
 333,
 343,
 353,
 363,
 373,
 383,
 393,
 404,
 414,
 424,
 434,
 444,
 454,
 464,
 474,
 484,
 494,
 505,
 515,
 525,
 535,
 545,
 555,
 565,
 575,
 585,
 595,
 606,
 616,
 626,
 636,
 646,
 656,
 666,
 676,
 686,
 696,
 707,
 717,
 727,
 737,
 747,
 757,
 767,
 777,
 787,
 797,
 808,
 818,
 828,
 838,
 848,
 858,
 868,
 878,
 888,
 898,
 909,
 919,
 929,
 939,
 949,
 959,
 969,
 979,
 989,
 999]

In [59]:
name_list = ['jeff', 'mile', 'pluto','potato', 'slot machine']
name_upper = lambda name : name.upper()
name_up = [*map(name_upper,name_list)]
#name_up
name_upp = [*map(str.upper,name_list)]
name_upp

['JEFF', 'MILE', 'PLUTO', 'POTATO', 'SLOT MACHINE']

In [61]:
name_list = ['jeff', 'mile', 'pluto','potato', 'slot machine']
tpop_singer = [*map((lambda name: name + " is a great singer."),name_list)]
tpop_singer

['jeff is a great singer.',
 'mile is a great singer.',
 'pluto is a great singer.',
 'potato is a great singer.',
 'slot machine is a great singer.']

In [62]:
name_list = ['jeff', 'mile', 'pluto','potato', 'slot machine']
singer = [*filter((lambda name: len(name) < 5),name_list)]
singer

['jeff', 'mile']

In [66]:
name_list = ['jeff', 'mile', 'pluto','potato', 'slot machine']
name_ch = [*map(lambda name: name.lower() if len(name) >5 else name.upper(),name_list)]
name_ch

['JEFF', 'MILE', 'PLUTO', 'potato', 'slot machine']

In [68]:
import datetime
age_calculator = lambda year: datetime.datetime.now().year - year
age_calculator(1998)

27

In [70]:
cost_price = lambda cost : cost + cost * 10/100
cost_price(100)

110.0

In [71]:
email = lambda name: name + '@' + 'gmail.com'
email('chanmra')

'chanmra@gmail.com'

In [72]:
name_list = ['jeff', 'mile', 'pluto','potato', 'slot machine']
email = [*map(lambda name: name + '@' + 'gmail.com',name_list)]
email

['jeff@gmail.com',
 'mile@gmail.com',
 'pluto@gmail.com',
 'potato@gmail.com',
 'slot machine@gmail.com']

In [5]:
def Palindromic(x):
    return str(x) == str(x)[::-1]
Palindromic(121)

True

Write a program that asks the user to enter a sentence and then randomly rearranges the words of the sentence. Don't worry about getting punctuation or capitalization correct.

In [1]:
import random

# Ask the user for a sentence
sentence = input("Enter a sentence: ")

# Split the sentence into words
words = sentence.split()

# Shuffle the words randomly
random.shuffle(words)

# Join the words back into a sentence
shuffled_sentence = " ".join(words)

# Print the result
print(words)
print("Rearranged sentence:")
print(shuffled_sentence)

['and', 'so', 'mcuh', 'Jimmy', 'James', 'Peach,', 'fun.', 'episode', 'I', 'knd', 'the', 'Today', 'enjoy', 'with']
Rearranged sentence:
and so mcuh Jimmy James Peach, fun. episode I knd the Today enjoy with

Do the above problem, but now make sure that the sentence starts with a capital, that the original first word is not capitalized if it comes in the middle of the sentence, and that the period is in the right place.

In [10]:
import random
sentence = input("Enter a sentence: ").strip()
if sentence.endswith('.'):
    sentence = sentence [:-1]

words = sentence.split()
original_first = words[0].lower()

random.shuffle(words)

words[0] = words[0].capitalize()

for i in range(1,len(words)):
    if words[i].lower() == original_first:
        words[i] = words[i].lower()

new_sentence = " ".join(words) + '.'
print(new_sentence)

Dedicated extremely your you towards goal are.

Write a simple quote-of-the-day program. The program should contain a list of quotes, and when the user runs the program, a randomly selected quote should be printed.

In [ ]:
quotes = [
    "Dream big. Start small. Act now.",
    "Progress, not perfection.",
    "Doubt kills more dreams than failure ever will.",
    "Discipline is choosing what you want most over what you want now.",
    "You become what you repeat.",
    "Small steps every day lead to big results.",
    "Your future is created by what you do today.",
    "Don't wish for it. Work for it.",
    "Do it scared. Do it unsure. Just do it.",
    "Success is built on consistency, not intensity.",
    "If it matters to you, you'll find a way.",
    "You donâ€™t need more timeâ€”you need more focus.",
    "Courage is doing what needs to be done even when youâ€™re afraid.",
    "You are one decision away from a different life.",
    "Energy flows where attention goes."
]
quote_of_the_day = random.choice(quotes)
print(quote_of_the_day)

Do it scared. Do it unsure. Just do it.

Write a simple lottery drawing program. The lottery drawing should consist of six different numbers between 1 and 48.

In [17]:
num_list = list(range(1,48))
lot_number = []
for i in range (6):
    num = random.choice(num_list)
    lot_number.append(num)
print(lot_number)

[45, 29, 35, 38, 13, 15]

In [8]:
class student():
    def __init__(self,new_name):
        self.name = new_name
stu1 = student('Thomas')

print(stu1.name)

Thomas

In [3]:
class student():
    def __init__(self,new_name):
        self.namee = new_name
stu2 = student("Chan Mra")
stu2.namee

'Chan Mra'

In [1]:
class student():
    def __init__(self,new_name):
        self.name = new_name

    def print_name(self):
        print(f"The student's name is", self.name)

stu1 = student('Thomas')

stu1.print_name()
stu1.name

The student's name is Thomas

'Thomas'

In [5]:
class student():
    def __init__(self,new_name):
        self.name = new_name
    
    def print_name(self):
        print(f"The students's name is ", self.name)

stu2 = student("Chan Mra Thandar")
stu2.name
stu2.print_name()

The students's name is  Chan Mra Thandar

Questions to this code
1. Do we always have to use initialization
2. Why the other functions, set_scores, print_name does not include __init__ keyword
3. What are the other use cases, I meant how do we insert other values to those functions inside class.

In [ ]:
class student():
    def __init__(self,new_name):
        self.name = new_name
    
    def set_scores(self,score):
        self.score = score
    
    def print_name(self):
        print(f"The students' name is ", self.name)
stu2 = student("Classy")
stu2.name
stu2.print_name()
stu2.set_scores

The students' name is  Classy

In [11]:
class student():
    def __init__(self,new_name):
        self.name = new_name
    
    def set_scores(self,score):
        self.score = score
    
    def print_name(self):
        print(f"The student's name is ", self.name)
stu2 = student("Carrot")
stu2.name
stu2.set_scores(100)
stu2.score
stu2.print_name()

The student's name is  Carrot

In [6]:
class Person:
    def __init__(self, name):
        self.name = name   # attribute

    def greet(self):
        print("Hello, I am", self.name)

name1 = Person("Baby Chan")
print(name1.name)
name1.greet()

Baby Chan
Hello, I am Baby Chan

In [12]:
class student():
    def __init__(self,new_name):
        self.name = new_name
    
    def set_scores(self,score):
        self.score = score
    
    def print_name(self):
        print(f"The students' name is ", self.name)
stu2 = student("Classy")
stu2.name
stu2.print_name()
stu2.set_scores(100)
stu2.score

The students' name is  Classy

100

In [4]:
class Example():
    def __init__(self,a,b):
        self.a = a
        self.b = b
    
    def add(self):
        return self.a + self.b
e = Example(8,6)
print(e.add())

14

In [11]:
from string import punctuation
class Analyzer():
    def __init__(self,s):
        for c in punctuation:
            s = s.replace(c,'')
        s = s.lower()
        self.words = s.split()
    
    def number_of_words(self):
        return len(self.words)
    
    def starts_with(self,s):
        return len([w for w in self.words if w[:len(s)]== s])
    
    def number_with_length(self,n):
        return len([w for w in self.words if len(w)==n])
    
s = "This is a test of the class"
analyzer = Analyzer(s)
print(analyzer.words)
print('Number of words:', analyzer.number_of_words())
print('Number of words starting with "t":', analyzer.starts_with('t'))
print('Number of 2-letter words:', analyzer.number_with_length(2))

['this', 'is', 'a', 'test', 'of', 'the', 'class']
Number of words: 7
Number of words starting with "t": 3
Number of 2-letter words: 2

In [18]:
class Parent:
    def __init__(self,a):
        self.a = a
    
    def method1(self):
        return self.a*2
    
    def method2(self):
        return self.a+'!!!'

class Child(Parent):
    def __init__(self,a,b):
        self.a = a
        self.b = b
    
    def method1(self):
        return self.a*7
    
    def method3 (self):
        return self.a + self.b

p = Parent('Hi')
c = Child ('Hi', 'Bye')
print("Parent Method1: ", p.method1())
print("Parent method2: ", p.method2())
print("Child Method1: ", c.method1())
print("Child Method2: ", c.method2())
print("Child Method3: ", c.method3())

Parent Method1:  HiHi
Parent method2:  Hi!!!
Child Method1:  HiHiHiHiHiHiHi
Child Method2:  Hi!!!
Child Method3:  HiBye

In [21]:
class tic_tac_toe:
    def __init__(self):
        self.B = [[0,0,0],
                  [0,0,0],
                  [0,0,0]]
        self.player = 1
    
    def get_open_spots(self):
        return [[r,c] for r in range(3) for c in range(3) if self.B[r][c]==0]
    
    def is_valid_move(self,r,c):
        if 0<=r<=2 and 0<=c<=2 and self.B[r][c]==0:
            return True
        return False
    def make_move(self,r,c):
        if self.is_valid_move(r,c):
            self.B[r][c] = self.player
            self.player = (self.player+2)%2 + 1
    def check_for_winner(self):
        for c in range(3):
            if self.B[0][c]==self.B[1][c]==self.B[2][c]!=0:
                return self.B[0][c]
        for r in range(3):
            if self.B[r][0]==self.B[r][1]==self.B[r][2]!=0:
                return self.B[r][0]
        if self.B[0][0]==self.B[1][1]==self.B[2][2]!=0:
            return self.B[0][0]
        if self.B[2][0]==self.B[1][1]==self.B[0][2]!=0:
            return self.B[2][0]
        if self.get_open_spots()==[]:
            return 0
        return -1

In [28]:
class student():
    def __init__(self,new_name):
        self.name = new_name
stua = student("Barry")
stua.name

'Barry'

In [34]:
class student():
    def __init__(self,new_name):
        self.name = new_name
    
    def set_scores(self,score):
        self.score = score
    
    def print_name(self):
        print(f"The student's name is", self.name)
stua = student("Barry")
stua.print_name()
stua.set_scores(100)
stua.score

The student's name is Barry

100

In [3]:
usd = 2500
bp = usd * 0.92
print("USD " + str(usd) + " is equavalent to " + str(bp) + " British Pound")

USD 2500 is equavalent to 2300.0 British Pound

In [4]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]'

In [10]:
type(12.0)
type("0")
type(100000000)
type(True)

bool

In [12]:
usd = 2500
bp = usd * 0.92
print("USD " + str(usd) + " is equavalent to " + str(bp) + " British Pound")

USD 2500 is equavalent to 2300.0 British Pound

In [13]:
type(float(2))

float

In [ ]:
name = "Chan Mra Tha  ndar   "
name[::-1]
name[:8:-2]

'rdaT'

In [54]:
print("Hello" + 3*name)
len(name)
name.upper()
name.find('Mra')
name.split("M")
name.strip()

HelloChan Mra ThandarChan Mra ThandarChan Mra Thandar

'Chan Mra Thandar'

In [ ]:
name = "Chan Mra Thandar   "
name.strip()

'Chan Mra Tha  ndar'

In [ ]:
#compound data can store more than one basic data type
nested_tuple = (
    (1, 2, 3),
    ("a", "b", "c"),
    (True, False)
)
nested_tuple[1][1]
len(nested_tuple)
nested_tuple.index((1,2,3))

AttributeError: 'tuple' object has no attribute 'drop'

In [72]:
nested_tuple = (
    (1, 2, 3),
    ("a", "b", "c"),
    (True, False)
)
temp = [list(value) for value in nested_tuple]
temp[1].remove("a")
temp
new_tuple = tuple(tuple(value)for value in temp)
new_tuple

((1, 2, 3), ('b', 'c'), (True, False))

In [74]:
students = [
    ["Chan", 20, ["Math", "CS"]],
    ["Mra", 22, ["Physics", "Biology"]]
]
students[0][0] = "Chan Chan"
students

[['Chan Chan', 20, ['Math', 'CS']], ['Mra', 22, ['Physics', 'Biology']]]

In [75]:
locations = {
    (0, 0): "origin",
    (1, 2): "point A",
    (3, 4): "point B"
}

In [88]:
student_scores = {
    "Chan": [85, 90, 92],
    "Mra": [78, 88, 91],
    "Thandar": [95, 89, 93]
}
student_scores["Mra"][2]
student_scores.keys()
student_scores.values()
"Kay" in student_scores
student_scores["Thor Thor"] = [89,100,95]

del(student_scores["Mra"])
student_scores

{'Chan': [85, 90, 92], 'Thandar': [95, 89, 93], 'Thor Thor': [89, 100, 95]}

In [94]:
random_set = {4, 9, 15, 2, 7}
random_set.add(12)
random_set
15 in random_set

True

In [103]:
students_math = {"Mra", "Thandar"}
students_cs = {"Mra", "Thandar", "May", "Lin"}
students_math.intersection(students_cs)
students_math.union(students_cs)
students_math & students_cs
students_math.issubset(students_cs)
students_cs.issubset(students_math)

False

In [105]:
mark = int(input("Enter your mark: "))
if (mark>70):
    print("you pass")
print("keep learning")

you pass
keep learning

In [107]:
score = int(input("Enter your score: "))
if score > 100 or score < 0:
    print ("Enter a valid score")
elif score > 80:
    print ("You get A")
elif score > 50:
    print ("You pass the exam")
else:
    print("You fail the exam")

Enter a valid score

In [3]:
while True:
    score = int(input("Enter your score: "))
    if score > 100 or score < 0:
        print ("Enter a valid score")
        continue
    elif score > 80:
        print ("You get A")
        break
    elif score > 50:
        print ("You pass the exam")
        break
    else:
        print("You fail the exam")
        break

Enter a valid score
Enter a valid score
You get A

In [4]:
counter = 0
while counter <= 5:
    score = int(input("Enter your score: "))
    if score > 100 or score < 0:
        print ("Enter a valid score")
    elif score > 80:
        print ("You get A")
    elif score > 50:
        print ("You pass the exam")
    else:
        print("You fail the exam")
    counter += 1

Enter a valid score
Enter a valid score
You fail the exam
You fail the exam
You pass the exam
You get A

In [4]:
mark = int(input("Enter your score: "))
if score > 100 or score < 0:
    print ("Data entry mistake")
elif mark > 90:
    print ("You get excellent")
elif mark > 80:
    print ("You get A")
elif mark > 50:
    print ("You pass")
else:
    print ("You fail.")

You get excellent

In [ ]:
mark = int(input("Enter your score: "))
if mark > 100 and mark < 0:
    print("Data entry mistake.")
else:
    print ("Data entry is correct.")

In [13]:
a = 5
b = 3
print(a!= b)
print(a<>b)

SyntaxError: invalid syntax (1954005965.py, line 4)

In [14]:
a = "Mont Ti"
b = "Papaya Salad"
c = "Mont Ti"
if a!= b and b != c and a!= c:
    print ("They are not the same")
else:
    print ("At least two of them are the same")

At least two of them are the same

In [15]:
user_input = input("Enter your emai: ")
if (len(user_input)>8) and user_input.endswith("org"):
    print ("This belongs to organization email")
else:
    print ("This email does not belong to the organization")

This belongs to organization email

In [20]:
is_logged_in = False
is_admin = False
if is_logged_in:
    if is_admin:
        print("Granting admin access")
    print("Welcome user")

In [22]:
status = True
if status:
    print("Processing...")
    print("Done!")
print("Script Finished!")

Processing...
Done!
Script Finished!

In [ ]:
result = 0.1 + 0.21115
if result == 0.31115:
    print ("The result is 0.31")
else:
    print(f"The result is {result}, not exactly 0.31115")

The result is 0.31115000000000004, not exactly 0.31

In [26]:
city = "New York"
if city[0:4] == "New ":
    print("We found the city.")
else:
    print("The city was not found")

We found the city.

In [28]:
mark = float(input("Enter the mark: "))
if mark> 100 or mark < 0:
    print ("Data entry mistake")
if mark > 90 and mark <= 100:
    print ("You get excellent")

if mark > 80 and mark <= 90:
    print("You get A")

if mark > 50 and mark <= 80:
    print("you pass")

if mark >= 0 and mark <= 50:
    print("you fail")

You get excellent

In [29]:
for i in range(10):
    print ("I love python")

I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python
I love python

In [30]:
for k in range(1,10,2):
    print(k)

1
3
5
7
9

In [32]:
marks = [78, 85, 92, 64, 88, 90, 73, 81]
for i in marks:
    print("The student receives {} marks in the exam".format(i))

The student receives 78 marks in the exam
The student receives 85 marks in the exam
The student receives 92 marks in the exam
The student receives 64 marks in the exam
The student receives 88 marks in the exam
The student receives 90 marks in the exam
The student receives 73 marks in the exam
The student receives 81 marks in the exam

In [33]:
marks = [78, 85, 92, 64, 88, 90, 73, 81]
for i, m in enumerate(marks):
    print(f"The student in index{i} receive {m} marks")

The student in index0 receive 78 marks
The student in index1 receive 85 marks
The student in index2 receive 92 marks
The student in index3 receive 64 marks
The student in index4 receive 88 marks
The student in index5 receive 90 marks
The student in index6 receive 73 marks
The student in index7 receive 81 marks

In [37]:
marks = [78, 85, 92, 64, 88, 90, 73, 81]
total = 1
for m in marks:
    total = total*m
total

1828160791142400

In [40]:
num_given = 4
while (num_given>0):
    num_given -= 1
    print(num_given)

3
2
1
0

In [43]:
mark_list = [78, 85, 92, -64, 88, 90, 73, 81]
mark = mark_list[0]
idx = 0
while mark>0:
    print(mark)
    idx += 1
    mark = mark_list[idx]

78
85
92

In [46]:
mark_list = [78, 85, 92, 64, 88, 90, -73, 81]
mark = mark_list[0]
idx = 0
while mark > 0:
    print(mark)
    idx += 1
    mark = mark_list[idx]

78
85
92
64
88
90

In [65]:
from random import randint
com_pick = randint(1,10)
while True:
    user_pick = int(input("Enter the number between 1 and 10: "))
    if user_pick > com_pick:
        print("Enter lower number")
        continue
    elif user_pick < com_pick:
        print("Enter higher number")
        continue
    else:
        print ("Bingo")
        break

Enter lower number
Enter lower number
Enter lower number
Bingo

In [68]:
counter = 1
while counter < 6:
    print(counter*"*")
    counter += 2

    print("______________________")
print("My house is completed")

*
______________________
***
______________________
*****
______________________
My house is completed

In [69]:
counter = 1
while counter <= 30:
    print(counter*"*")
    counter = counter*5

    print("______________________")
print("My house is completed")

*
______________________
*****
______________________
*************************
______________________
My house is completed

In [84]:
from random import randint

com_pick = randint(1,10)
user_pick = int(input("Enter the number between 1 and 10: "))

while com_pick != user_pick:
    if user_pick > com_pick:
        print("Enter lower number")
    else:
        print("Enter higher number")
    
    user_pick = int(input("Enter the number between 1 and 10: "))
 
print ("Bingo")

Enter higher number
Enter higher number
Enter higher number
Bingo

In [ ]:
from random import randint

com_pick = randint(1, 10)
user_pick = 0   # initialize first

while com_pick != user_pick:
    user_pick = int(input("Enter a number between 1 and 10: "))

    if user_pick > com_pick:
        print("Enter lower number")
    elif user_pick < com_pick:
        print("Enter higher number")
    else:
        print("Bingo")

In [85]:
from random import randint

com_pick = randint(1,10)
user_pick = int(input("Enter the number between 1 and 10: "))
counter = 0

while com_pick != user_pick and counter < 3:
    if user_pick > com_pick:
        print("Enter lower number")
    else:
        print("Enter higher number")
    
    counter += 1
    
    user_pick = int(input("Enter the number between 1 and 10: "))
 
print ("Bingo")

Enter lower number
Enter lower number
Enter lower number
Bingo

In [88]:
check_even = True
while check_even:
    number = int(input("Enter an even number: "))
    if number%2 == 0:
        print("That is an even number. Thank you.")
        check_even = False
    else:
        print("That is not an even number. Try again")

That is not an even number. Try again
That is not an even number. Try again
That is an even number. Thank you.

In [91]:
#factorial in python
def factorial(n):
    result = 1
    while n > 0:
        result = result * n
        n = n-1
    return result
factorial(5)

120

In [94]:
mark_list = [78, 85, 92, 64, 88, 90, 73, 81]
result = 0
for mark in mark_list:
    result+= mark
print(result)
avg = result/len(mark_list)
avg

651

81.375

In [96]:
mark_list = [78, 85, 92, 64, 88, 90, 73, 81]
for mark in mark_list:
    print(mark_list)

[78, 85, 92, 64, 88, 90, 73, 81]
[78, 85, 92, 64, 88, 90, 73, 81]
[78, 85, 92, 64, 88, 90, 73, 81]
[78, 85, 92, 64, 88, 90, 73, 81]
[78, 85, 92, 64, 88, 90, 73, 81]
[78, 85, 92, 64, 88, 90, 73, 81]
[78, 85, 92, 64, 88, 90, 73, 81]
[78, 85, 92, 64, 88, 90, 73, 81]

In [97]:
for char in "python":
    if char == "t":
        print(char+char,end="")
    else:
        print(char,end="")

pytthon

In [105]:
from random import randint

com_pick = randint(1,10)
user_pick = int(input("Enter the number between 1 and 10: "))

for counter in range(3):
    if user_pick > com_pick:
        print("Enter lower number")
        
    elif user_pick < com_pick:
        print("Enter higher number")
    else:
        print("Bingo")
        break
    user_pick = int(input("Enter the number between 1 and 10: "))
    print("You have used", counter+1 , "times")

Enter higher number
You have used 1 times
Enter lower number
You have used 2 times
Enter lower number
You have used 3 times

In [106]:
encrypted_clues = [
    "KHOOR ZRUOG",        # Caesar cipher (+3)
    "uryyb jbeyq",        # ROT13
    "IFMMP",              # Caesar cipher (+1)
    "Uifsf jt b tfdsfu",  # Caesar cipher (+1, sentence)
    "01001000 01101001",  # Binary
    "SVOOL DLIOW",        # Atbash cipher
    "Khoor, Pbqd",        # Mixed Caesar
    "3-1-20",             # Number-to-letter (A1Z26)
]
for clue in encrypted_clues:
    print(f"Scanning clue: {clue}....")

    if "MMP" in clue:
        print("Bingo! The secret code has been found")
        break

    print("This is not. Moving on..")
print("Search complete")

Scanning clue: KHOOR ZRUOG....
This is not. Moving on..
Scanning clue: uryyb jbeyq....
This is not. Moving on..
Scanning clue: IFMMP....
Bingo! The secret code has been found
Search complete

In [107]:
for row in range(1,5):
    for col in range(1,4):
        print(f"({row},{col})", end= " ")
    print()

(1,1) (1,2) (1,3)
(2,1) (2,2) (2,3)
(3,1) (3,2) (3,3)
(4,1) (4,2) (4,3)

In [108]:
for i in range (12,13):
    for j in range (1,13):
        result = i * j
        print(f"{i} x {j} = {result}")
    print('-'*15)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
---------------

In [110]:
mark = [78, 85, 92, 64, 88, 90, 73, 81]
new_list_with_tuple = list(enumerate(marks))
new_list_with_tuple = [*enumerate(marks)]
new_list_with_tuple

[(0, 78), (1, 85), (2, 92), (3, 64), (4, 88), (5, 90), (6, 73), (7, 81)]

In [111]:
names = [
    "Chan Mra Thandar",
    "Aung Kyaw Moe",
    "May Thazin Win",
    "Hnin Ei Phyo",
    "Zaw Min Htet",
    "Lin Lin Aye",
    "Thiri Myat Noe",
    "Nay Chi Oo"
]
names_upper = [*map(str.upper,names)]
names_upper

['CHAN MRA THANDAR',
 'AUNG KYAW MOE',
 'MAY THAZIN WIN',
 'HNIN EI PHYO',
 'ZAW MIN HTET',
 'LIN LIN AYE',
 'THIRI MYAT NOE',
 'NAY CHI OO']

In [112]:
email = "chanmra@gmail.com"
email_list = email.split('@')
print("Name: {} \nDomain: {}".format(email_list[0],email_list[1]))

Name: chanmra
Domain: gmail.com

In [113]:
def split_email_domain(email):
    email_list = email.split('@')
    print("Name: {} \nDomain: {}".format(email_list[0],email_list[1]))
split_email_domain("thorthor@gmail.com")

Name: thorthor
Domain: gmail.com

In [114]:
def split_email_domain(email):
    email_list = email.split('@')
    print("Name: {} \nDomain: {}".format(email_list[0],email_list[1]))
split_email_domain()

TypeError: split_email_domain() missing 1 required positional argument: 'email'

In [116]:
def loan_calculator(loan_amount = 1000,interest = 0.05):
    loan_total = loan_amount + loan_amount * 0.05
    return loan_total
loan_calculator()

1050.0

In [118]:
def elective_sub_grade(mark):
    global threshold
    threshold = 40

    mark = mark * 5

    return (mark>threshold)

def core_sub_mark(mark):
    return (mark>threshold)
elective_sub_grade(90)

True

In [121]:
#Documentation - Docstring
def elective_sub_grade(mark):
    threshold= 40
    """ 
    elective_sub_grade return the grade of the student for the given mark
    Args:
    mark (float) : float number (mark is out of 20)
    Return:
    grade(bool) : Grade Pass (True) or Fail (False) is returned based on the threashold
    """
    mark = mark * 5
    return (mark>threshold)
help(elective_sub_grade)

Help on function elective_sub_grade in module __main__:

elective_sub_grade(mark)
    #Documentation - Docstring

In [122]:
def greet():
    print("Hello! Welcome to Python.")

greet()

Hello! Welcome to Python.

In [124]:
x = 10
def my_function():
    x = 5
    print(f"Inside the function, x is: ",x )

my_function()
print(f"Outside the function, x is: ", x)

Inside the function, x is:  5
Outside the function, x is:  10

In [127]:
def avg(a,b):
    tmp = (a+b)/2.0
    print(f"Inside avg function, tmp is: {tmp}")
    return tmp

a = 5
b = 10
tmp = a+b

result = avg(a,b)

print(f"Avg: {result:0.2f}")

print(f"Sum: {tmp:0.2f}")

Inside avg function, tmp is: 7.5
Avg: 7.50
Sum: 15.00

In [133]:
"""def print(message):
    name = "Program Design - I"
    return name

class_name = "CS112/BIOS112"
print(f"Welcome to {class_name}")"""

'def print(message):\n    name = "Program Design - I"\n    return name\n\nclass_name = "CS112/BIOS112"\nprint(f"Welcome to {class_name}")'

In [1]:
print("Hello Wolrd")

Hello Wolrd

In [4]:
def calculate_bmi(height_m,weight_kg):
    height_m = height_m ** 2
    bmi= weight_kg/height_m

    print(f"Inside the function: {height_m:0.2f}")
    return bmi

height_m = 1.7
weight_kg = 65

print(f"Before passing to function: {height_m:0.2f}")

calculate_bmi(height_m,weight_kg)

print(f"After passing the function: {height_m:0.2f}")

Before passing to function: 1.70
Inside the function: 2.89
After passing the function: 1.70

In [7]:
a = input ("Enter numerator: ")
b = input ("Enter denominator: ")
try:
    d = int(a)/b
    print("{} divided by {} is {}".format(a,b,d))
except ZeroDivisionError:
    print(f"Denominator value is {b}")

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [1]:
a = input ("Enter numerator: ")
#b = input ("Enter denominator: ")
try:
    d = int(a)/int(b)
except ZeroDivisionError:
    print(f"Denominator value is {b}")
else:
    print(f"{a} divided by {b} is {d}")

NameError: name 'b' is not defined

In [2]:
result = int("apple")

ValueError: invalid literal for int() with base 10: 'apple'

In [5]:
random_dict = {
    "name": "Chan Mra Thandar",
    "age": 21,
    "major": "Computer Science",
    "marks": [78, 85, 92],
    "passed": True,
    "id": 10234
}
random_dict["major"]
random_dict["fav_food"]

KeyError: 'fav_food'

In [9]:
def get_user_input():
    height = float(input("Enter the height in m: "))
    weight = float(input("Enter the weight in kg: "))
    return height,weight

def calculate_bmi(height,weight):
    bmi_value = weight / height**2
    return bmi_value
    
def get_bmi_category(bmi_value):
    if bmi_value < 18.5:
        return "Underweight"
    elif 18.5 <= bmi_value < 24.9:
        return "Normal Weight"
    elif 25 <= bmi_value < 29.9:
        return "Overweight"
    else:
        return "Obesity"


def display(bmi_value,category):
    print(f"You BMI value is : {bmi_value:.2f}")
    print(f"You are classified as {category}")

def main():
    height,weight = get_user_input()
    print(f"Height: {height} m, Weight: {weight} kg")

    bmi_value = calculate_bmi(height,weight)
    print(f"BMI value: {bmi_value:.2f}")

    category = get_bmi_category(bmi_value)
    print(f"Category: {category}")

    display(bmi_value,category)

main()

Height: 1.5 m, Weight: 42.0 kg
BMI value: 18.67
Category: Normal Weight
You BMI value is : 18.67
You are classified as Normal Weight

In [17]:
def secret_number():
    from random import randint
    com_num = randint(1,10)
    return com_num

def user_guess():
    user_num = int(input("Enter the number between 1 and 10: "))
    return user_num

def feedback(com_num,user_num):
    if user_num > com_num:
        return "Your number is hight"
    elif user_num < com_num:
        return "Your number is low"
    else:
        return "Bingo"

def display_result(com_num,user_num):
    print(f"The computer pick is {com_num} and your pick is {user_num}")

def main():
    com_num = secret_number()
    user_num = user_guess()
    result = feedback(com_num,user_num)
    print (f"You result is {result}")
    
    display_result(com_num,user_num)
   

main()

You result is Bingo
The computer pick is 7 and your pick is 7

In [18]:
def calculate_sum(a,b):
    result = a + b
    return result

num1 = 10
num2 = "20"
print(calculate_sum(num1,num2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
def calculate_sum(a,b):
    result = a + b

num1 = 10
num2 = 4
print(calculate_sum(num1,num2))

None

In [22]:
def calculate_sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
my_list = [10,20,30]
print(calculate_sum(my_list))

60

In [24]:
def calculate_total(numbers):
    total = sum(numbers)
    return total
my_list = [10,20,30]
print(calculate_total(my_list))
print(total)

60

NameError: name 'total' is not defined

In [26]:
def calculate_sum(numbers):
    total = 0
    for num in numbers:
        total += num
        print(num)
        print(total)
    return total
my_list = [10,20,30]
print(calculate_sum(my_list))

10
10
20
30
30
60
60

In [28]:
def value_square(value):
    return value**2
value_square = lambda value: value**2
value_square(23)

529

In [29]:
def echo_words(times,name):
    return times*name

In [30]:
eco_words = lambda eco,words : echo*words
echo_words(3,"chanchan")

'chanchanchanchanchanchan'

In [38]:
french_names = [
    "Jean Dupont",
    "Marie LefÃ¨vre",
    "Pierre Martin",
    "Sophie Bernard",
    "Lucas Moreau",
    "Camille Dubois",
    "Antoine Laurent",
    "Ã‰milie Petit",
    "Julien Rousseau",
    "Claire Fontaine"
]
#name_upper = list(map(str.upper,french_names))
#name_upper = list(map(lambda name: name.upper(), french_names))
name_upper = [*map(lambda name: name.upper(),french_names)]
name_upper

['JEAN DUPONT',
 'MARIE LEFÃˆVRE',
 'PIERRE MARTIN',
 'SOPHIE BERNARD',
 'LUCAS MOREAU',
 'CAMILLE DUBOIS',
 'ANTOINE LAURENT',
 'Ã‰MILIE PETIT',
 'JULIEN ROUSSEAU',
 'CLAIRE FONTAINE']

In [39]:
french_names = [
    "Jean Dupont",
    "Marie LefÃ¨vre",
    "Pierre Martin",
    "Sophie Bernard",
    "Lucas Moreau",
    "Camille Dubois",
    "Antoine Laurent",
    "Ã‰milie Petit",
    "Julien Rousseau",
    "Claire Fontaine"
]
names = [*map(lambda name : name + '!',french_names)]
names

['Jean Dupont!',
 'Marie LefÃ¨vre!',
 'Pierre Martin!',
 'Sophie Bernard!',
 'Lucas Moreau!',
 'Camille Dubois!',
 'Antoine Laurent!',
 'Ã‰milie Petit!',
 'Julien Rousseau!',
 'Claire Fontaine!']

In [41]:
french_names = [
    "Jean Dupont",
    "Marie LefÃ¨vre",
    "Pierre Martin",
    "Sophie Bernard",
    "Lucas Moreau",
    "Camille Dubois",
    "Antoine Laurent",
    "Ã‰milie Petit",
    "Julien Rousseau",
    "Claire Fontaine"
]
names = [*filter(lambda name : len(name)>13,french_names)]
names

['Sophie Bernard',
 'Camille Dubois',
 'Antoine Laurent',
 'Julien Rousseau',
 'Claire Fontaine']

In [44]:
french_names = [
    "Jean Dupont",
    "Marie LefÃ¨vre",
    "Pierre Martin",
    "Sophie Bernard",
    "Lucas Moreau",
    "Camille Dubois",
    "Antoine Laurent",
    "Ã‰milie Petit",
    "Julien Rousseau",
    "Claire Fontaine"
]
names = [*map(lambda name : name.upper() if len(name)>13 else name.lower(),french_names)]
names

['jean dupont',
 'marie lefÃ¨vre',
 'pierre martin',
 'SOPHIE BERNARD',
 'lucas moreau',
 'CAMILLE DUBOIS',
 'ANTOINE LAURENT',
 'Ã©milie petit',
 'JULIEN ROUSSEAU',
 'CLAIRE FONTAINE']

In [49]:
import datetime
age_calculator = lambda year : datetime.datetime.now().year - int(year)
age_calculator(1998)

27

In [50]:
cost_price = lambda cost: cost + cost * 10/100
cost_price(100)

110.0

In [52]:
french_names = [
    "Jean Dupont",
    "Marie LefÃ¨vre",
    "Pierre Martin",
    "Sophie Bernard",
    "Lucas Moreau",
    "Camille Dubois",
    "Antoine Laurent",
    "Ã‰milie Petit",
    "Julien Rousseau",
    "Claire Fontaine"
]
email = [*map(lambda name: name + '@' + 'gmail.com',french_names)]
email

['Jean Dupont@gmail.com',
 'Marie LefÃ¨vre@gmail.com',
 'Pierre Martin@gmail.com',
 'Sophie Bernard@gmail.com',
 'Lucas Moreau@gmail.com',
 'Camille Dubois@gmail.com',
 'Antoine Laurent@gmail.com',
 'Ã‰milie Petit@gmail.com',
 'Julien Rousseau@gmail.com',
 'Claire Fontaine@gmail.com']

In [54]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
even_squares = []

for n in numbers:
    if n % 2 == 0:
        even_squares.append(n * n)

print(even_squares)

[4, 16, 36, 64]

In [55]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
even_squares = [n**2 for n in numbers if n%2==0]
even_squares

[4, 16, 36, 64]

In [56]:
marks = [45, 78, 90, 33, 66]

passed = []
for m in marks:
    if m >= 50:
        passed.append(m + 5)

print(passed)

[83, 95, 71]

In [58]:
marks = [45, 78, 90, 33, 66]
passed_list = [mark +5 for mark in marks if mark>50]
passed_list

[83, 95, 71]

In [59]:
new_list = [value**2 for value in range(10)]
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
thai_nicknames = [
    "Aom",
    "Ploy",
    "Beam",
    "Mook",
    "Nam",
    "Mint",
    "Ice",
    "Boss",
    "Bank",
    "Fern",
    "Palm",
    "Gun"
]
names = [name[:-1] + name[-1].upper() for name in thai_nicknames]
names

['AoM',
 'PloY',
 'BeaM',
 'MooK',
 'NaM',
 'MinT',
 'IcE',
 'BosS',
 'BanK',
 'FerN',
 'PalM',
 'GuN']

In [65]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
new_list = [[x,y,z] for z,y,x in nested_list]
new_list

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [67]:
marks = [78, 85, 92, 64, 88, 90]
gap = [marks[idx+1]-marks[idx] for idx in range(len(marks)-1)]
gap

[7, 7, -28, 24, 2]

In [69]:
numbers = [10, -3, 25, -7, 0, 18, -1, 4]
new_numbers = [num**2 for num in numbers if num<0]
new_numbers

[9, 49, 1]

In [3]:
numbers = [3, 7, 12, 18, 21, 24, 26, 28, 30, 31, 33, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 5]
gap = [numbers[idx+1]-numbers[idx] for idx in range(len(numbers)-1)]
print(gap)
print(max(gap))
gap_two_count = sum(1 for num in gap if num==2)
gap_two_percentage = round(gap_two_count/len(gap) *100,2)
print(gap_two_percentage)

[4, 5, 6, 3, 3, 2, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, -42]
6
26.09

In [4]:
numbers = [3, 7, 12, 18, 21, 24, 26, 28, 30, 31, 33, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 5]
morethan40_count = sum(1 for num in numbers if num>40)
morethan40_count

7

Use a list of comprehension to produce a list that consists of all palindromic numbers between 100 and 1000

In [6]:
palindromic = [num for num in range(100,1000) if str(num)==str(num)[::-1]]
palindromic_count = sum(1 for num in range(100,1000) if str(num)==str(num)[::-1])
palindromic_count

90

In [ ]:

    filter(lambda num: str(num) == str(num)[::-1], range(100, 1000))
)

TypeError: filter expected 2 arguments, got 1

In [8]:
palindromic = list(filter(lambda num:  str(num)==str(num)[::-1],range(100,1000)))
palindromic

[101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191,
 202,
 212,
 222,
 232,
 242,
 252,
 262,
 272,
 282,
 292,
 303,
 313,
 323,
 333,
 343,
 353,
 363,
 373,
 383,
 393,
 404,
 414,
 424,
 434,
 444,
 454,
 464,
 474,
 484,
 494,
 505,
 515,
 525,
 535,
 545,
 555,
 565,
 575,
 585,
 595,
 606,
 616,
 626,
 636,
 646,
 656,
 666,
 676,
 686,
 696,
 707,
 717,
 727,
 737,
 747,
 757,
 767,
 777,
 787,
 797,
 808,
 818,
 828,
 838,
 848,
 858,
 868,
 878,
 888,
 898,
 909,
 919,
 929,
 939,
 949,
 959,
 969,
 979,
 989,
 999]

In [ ]:
class student():
    def __init__(self,new_name):
        self.name = new_name
    
    def set_scores(self,score):
        self.score = score
    
    def print_name(self):
        print(f"The student's name is", self.name)

stu1 = student('Thomas')
stu1.set_scores(90)
stu1.score
print(stu1.name)
stu1.print_name()
stu1.score
stu2 = student('Thomas')
stu2.print_name()

90

In [23]:
class Time:

    def __init__(self):
        self.hours = 0
        self.minutes = 0
    
    def print_time(self):
        print(f"Hours: {self.hours}")
        print(f"Minutes: {self.minutes}")

time1 = Time()
#time1.hours = 7
#time1.minutes = 15
time1.print_time()

Hours: 0
Minutes: 0

In [24]:
class Time:

    def __init__(self):
        self.hours = 0
        self.minutes = 0
    
    def print_time(self):
        print(f"Hours: {self.hours}")
        print(f"Minutes: {self.minutes}")

time1 = Time()
time1.hours = 7
time1.minutes = 15
time1.print_time()

Hours: 7
Minutes: 15

In [30]:
class dog:

    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def description(self):
        return f"{self.name} is {self.age} years old"
    
    def speak(self,sound):
        return f"{self.name} says {sound}"

dog1 = dog("kiki",9)
dog1.name
dog1.age
dog1.description()
dog1.speak("woh woh")

'kiki says woh woh'

In [ ]:
class Animal:

    def __init__(self):
        pass

    def noise(self,sound):
        pass
cat = Animal()

In [38]:
class employee:

    def __init__(self,new_name,new_salary):
        self.name = new_name
        self.salary = new_salary
    
    def give_raise(self,amount):
        self.salary = self.salary + amount
emp1 = employee("Thor",900)
emp1.name
emp1.salary
emp1.give_raise(200)
emp1.salary

1100

In [44]:
class employee:
    
    def __init__(self,new_name,new_wage):
        self.name = new_name
        self.wage = new_wage
        self.hours_worked = 0
    
    def give_raise(self,amount):
        self.wage = self.wage + amount
    
    def calculate_pay(self):
        return self.wage * self.hours_worked

employee1 = employee("Richard",56)
employee1.give_raise(300)
employee1.wage
employee1.hours_worked = 10
employee1.calculate_pay()

3560

In [45]:
func = lambda x: return x print(func(2))

SyntaxError: invalid syntax (2896603572.py, line 1)

In [47]:
(lambda x: (x+3) * 5/2)(3)

15.0

In [49]:
def calculate_sum(a,b):
    result = a+b
    return result

a = 10
b = "20"
print(calculate_sum(a,b))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
total_hours = 9
if (total_hours%24) >= 12:
    time_period = "AM"
else:
    time_period = "PM"
final_time = total_hours%12
if final_time==0:
    final_time = 12
print(f"I will be there at {final_time}{time_period}")

I will be there at 9PM

In [54]:
list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(list):
    print (i)

TypeError: 'list' object cannot be interpreted as an integer

In [55]:
result = 10 + "10"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
given_string = "CMPT 100- Intro to computer Science"
idx = 0
while idx < len(given_string):
    print(given_string[idx])
    idx+=1

In [58]:
my_string = "Hello"
my_list = ['W', "O"]
result = my_string + my_list

TypeError: can only concatenate str (not "list") to str

In [61]:
while False:
    print("True")

In [ ]:
while False:
    print 1